.sb-badge-list {
    display: inline-flex;
    gap: 0.5em;
    align-self: center;
    vertical-align: middle;
}

.sb-badge-list--right {
    justify-content: flex-end;
}

.sb-badge {
    font-size: 14px;
    padding: 0.25em 0.5em;
    border-radius: 4px;
    text-transform: capitalize;
    vertical-align: middle;
}

.sb-badge-stable {
    background-color: YellowGreen;
    color: black;
    font-weight: bold;
}

.sb-badge-new {
    background: gold;
    color: brown;
    font-weight: bold;
}

.sb-badge-deprecated {
    background: lightgray;
    color: black;
    font-weight: bold;
}

.sb-badge-experimental {
    background: black;
    color: white;
    font-weight: bold;
}


.sb-note {
    background: AliceBlue;
    padding: 1em;
    border-radius: 2px;
}

.sb-note p {
    margin: 0 0 0.25em;
}

.icon-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: rows;
    width: 100%;
    ccolumn-gap: 28px;
    row-gap: 28px;
}

@media (min-width: 700px) {
    .icon-gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .icon-gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.icon-item__sizes {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 4px;
}

.icon-preview {
    display: flex;
    gap: 8px 8px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray
}

.icon-item span {
    display: block;
    width: auto;
}
