{
  "extends": "stylelint-config-standard",
  "customSyntax": "postcss-scss",
  "rules": {
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
    "value-keyword-case": null,
    "no-duplicate-selectors": null,
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": [
          "transform",
          "backface-visibility"
        ]
      }
    ],
    "color-function-notation": "legacy",
    "max-line-length": null,
    "keyframes-name-pattern": "[a-z]{1}[a-zA-Z]"
  }
}
