dl {
  @include clearfix;

  margin: 1rem 0;
}

dt {
  float: left;
  clear: left;
  padding: 0.15em 0.3em 0;
  color: $white;
  font-size: $font-size-sm;
  font-weight: normal;
  height: 16px;
  width: 16px;
  margin-top: 2px;
  margin-right: 5px;
}

dd {
  display: block;
  padding: 0.15em 0.3em 0;
  font-size: $font-size-sm;
  padding-left: 0.35em;
  overflow: hidden;
}
