/* Delimiters */

.delimiter-xs { border-top: solid 2px $body-bg !important; }
.delimiter-sm { border-top: solid ($spacer * 0.5) $body-bg !important; }
.delimiter-lg { border-top: solid ($spacer * 1) $body-bg !important; }
.delimiter-xl { border-top: solid ($spacer * 1.5) $body-bg !important; }
