/**
 * Background utilities
 *
 * Note: these do not alter text color as the original Bootstrap utils do
 */

.bg-wine { background: $wine !important; }
.bg-red { background: $red !important; }
.bg-pink { background: $pink !important; }

.bg-navy { background: $navy !important; }
.bg-blue { background: $blue !important; }
.bg-sky { background: $sky !important; }
.bg-baby { background: $baby !important; }
.bg-cloud { background: $cloud !important; }

.bg-black { background: $black !important; }
.bg-gray { background: $gray !important; }
.bg-silver { background: $silver !important; }
.bg-smoke { background: $smoke !important; }
.bg-shadow { background: $shadow !important; }
.bg-body-bg { background: $body-bg !important; }
.bg-white { background: $white !important; }

.bg-orange { background: $orange !important; }
.bg-green { background: $green !important; }
.bg-purple { background: $purple !important; }
.bg-turquoise { background: $turquoise !important; }

.bg-lf-info { background: $lf-info !important; }
.bg-lf-success { background: $lf-success !important; }
.bg-lf-warning { background: $lf-warning !important; }
.bg-lf-danger { background: $lf-danger !important; }

/* Risk colors */

.bg-risk-default { background: $risk-color-default !important; }
.bg-risk-1 { background: $risk-color-1 !important; }
.bg-risk-2 { background: $risk-color-2 !important; }
.bg-risk-3 { background: $risk-color-3 !important; }
.bg-risk-4 { background: $risk-color-4 !important; }
.bg-risk-5 { background: $risk-color-5 !important; }
.bg-risk-6 { background: $risk-color-6 !important; }
.bg-risk-7 { background: $risk-color-7 !important; }

/* Change background on hover */

.bg-lf-info-hover:hover { background-color: $lf-info !important; }

.bc-white { background-color: $white !important; }

.bg-active { background: $table-hover-bg !important; }
