/**
 * Font rendering
 */

.font-base {
  font-family: $font-family-base;
}

.font-sans-serif {
  font-family: $font-family-sans-serif;
}

.font-serif {
  font-family: $font-family-serif;
}

.font-smooth {
  @include font-smoothing;
}

/**
 * Bootstrap utils without breakpoint in the class names
 */

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

/**
 * Sizes
 */

.text-xs {
  font-size: $font-size-xs;
  line-height: 1.36 !important;
}

.text-sm {
  font-size: $font-size-sm;
  line-height: 1.36 !important;
}

.text-md {
  font-size: $font-size-md;
}

.text-lg {
  font-size: $font-size-lg;
}

.text-xl {
  font-size: $font-size-xl;
}

/**
 * Restrain text to a legible line width
 */

.text-legible-width {
  max-width: $legible-width;
  word-break: break-word;
}

.text-base-line {
  line-height: 1;
}

/**
 * Color utilities
 */

.text-inherit { color: inherit !important; }
.text-base { color: $body-color !important; }
.text-link { color: $link-color !important; }

.text-wine { color: $wine !important; }
.text-red { color: $red !important; }
.text-pink { color: $pink !important; }

.text-navy { color: $navy !important; }
.text-blue { color: $blue !important; }
.text-sky { color: $sky !important; }
.text-baby { color: $baby !important; }
.text-cloud { color: $cloud !important; }

.text-black { color: $black !important; }
.text-gray { color: $gray !important; }
.text-silver { color: $silver !important; }
.text-smoke { color: $smoke !important; }
.text-white { color: $white !important; }

.text-orange { color: $orange !important; }
.text-green { color: $green !important; }
.text-purple { color: $purple !important; }
.text-turquoise { color: $turquoise !important; }

.text-risk-default { color: $risk-color-default !important; }
.text-risk-1 { color: $risk-color-1 !important; }
.text-risk-2 { color: $risk-color-2 !important; }
.text-risk-3 { color: $risk-color-3 !important; }
.text-risk-4 { color: $risk-color-4 !important; }
.text-risk-5 { color: $risk-color-5 !important; }
.text-risk-6 { color: $risk-color-6 !important; }
.text-risk-7 { color: $risk-color-7 !important; }
