/* stylelint-disable no-duplicate-selectors */

/**
 * Readme
 *
 * - This file includes variables configuring Bootstrap global and component
 *   settings.
 * - After this file, we import the default Bootstrap variable file that fills
 *   in the blanks. Bootstrap tend to define their variable definitions with
 *   the !default flag: if anything is defined here, that will be used instead.
 * - We are working on moving component related variables into their specific
 *   component scss file instead of grouping it all in this file.
 * - Once that is done, this file should contain only globally generic
 *   variables such as non-semantic colors, font settings and spacings.
 * - Moving forward, components that wish to access variables defined in
 *   another component will have to import those requirements internally. The
 *   build step will make sure we don't get any duplicate scss.
 *
 * SCSS variable naming convention: $component-modifier-state-property
 * CSS custom property naming convention: --component-modifier-state-property
 */

/**
 * Initial config, that consumers may want to change
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

$prefix: "";

/**
 * Non-semantic colors
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

$wine: #ad1015 !default;
$red: #e30613 !default;
$pink: #FCD2D3 !default;
$green: #1B5E20 !default;
$mint: #e5fff0 !default;
$orange: #fdd835 !default;
$yellow: #ffffd6 !default;
$navy: #00427a !default;
$blue: #005aa0 !default;
$sky: #76bbe7 !default;
$baby: #badaf3 !default;
$water: #e5eff7 !default;
$cloud: #eff4f9 !default;
$mist: #f9fbfd !default;
$black: #222 !default;
$gray: #6b7070 !default;
$silver: #b1b3b6 !default;
$smoke: #d9d9d9 !default;
$shadow: #e5e5e5 !default;
$tint: #f3f3f3 !default;
$white: #fff !default;
$offwhite: #fafafa !default;

/* Used only by Bootstrap */
$gray-100: $smoke !default;
$gray-200: $smoke !default;
$gray-300: $smoke !default;
$gray-400: $smoke !default;
$gray-500: $silver !default;
$gray-600: $silver !default;
$gray-700: $gray !default;
$gray-800: $gray !default;
$gray-900: $black !default;
$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
) !default;

/* Expose as CSS custom properties */
:root {
  --wine: #{$wine};
  --red: #{$red};
  --pink: #{$pink};
  --green: #{$green};
  --mint: #{$mint};
  --orange: #{$orange};
  --yellow: #{$yellow};
  --navy: #{$navy};
  --blue: #{$blue};
  --sky: #{$sky};
  --baby: #{$baby};
  --mist: #{$mist};
  --cloud: #{$cloud};
  --mist: #{$mist};
  --black: #{$black};
  --gray: #{$gray};
  --silver: #{$silver};
  --smoke: #{$smoke};
  --shadow: #{$shadow};
  --tint: #{$tint};
  --white: #{$white};
}

/**
 * Semantic colors
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

$body-bg: $tint !default;
$body-color: $black !default;

$color-info: $blue !default;
$color-info-light: $water !default;
$color-success: $green !default;
$color-success-light: $mint !default;
$color-warning: $orange !default;
$color-warning-light: $yellow !default;
$color-danger: $wine !default;
$color-danger-light: $pink !default;

$color-risk-0: #515151 !default;
$color-risk-1: #2a7fd4 !default;
$color-risk-2: #389fb9 !default;
$color-risk-3: #8dba84 !default;
$color-risk-4: #b8be34 !default;
$color-risk-5: #fdb514 !default;
$color-risk-6: #ed7721 !default;
$color-risk-7: #ce161d !default;

/* To-do: rename */
$login-logout-blue: #007db0 !default;

/* Used only by Bootstrap */
$theme-colors: (
  primary: $blue,
  secondary: $red,
  info: $color-info,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  light: $gray-100,
  dark: $gray-800
) !default;

/* Expose as CSS custom properties */
:root {
  --color-body: #{$body-color};

  --color-info: #{$color-info};
  --color-info-light: #{$color-info-light};
  --color-success: #{$color-success};
  --color-success-light: #{$color-success-light};
  --color-warning: #{$color-warning};
  --color-warning-light: #{$color-warning-light};
  --color-danger: #{$color-danger};
  --color-danger-light: #{$color-danger-light};
  --color-risk-0: #{$color-risk-0};
  --color-risk-1: #{$color-risk-1};
  --color-risk-2: #{$color-risk-2};
  --color-risk-3: #{$color-risk-3};
  --color-risk-4: #{$color-risk-4};
  --color-risk-5: #{$color-risk-5};
  --color-risk-6: #{$color-risk-6};
  --color-risk-7: #{$color-risk-7};
  --login-logout-blue: #{$login-logout-blue};
}

/**
 * Custom easing curves
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

:root {
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
 * Bootstrap configuration
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

$enable-validation-icons: false !default;
$enable-caret: false !default;
$enable-rounded: false !default;
$enable-transitions: false !default;
$enable-cssgrid: false !default;
$enable-negative-margins: true !default;
$enable-important-utilities: true !default;
$enable-rfs: false !default;

$min-contrast-ratio: 4.5 !default;
$color-contrast-dark: $black !default;
$color-contrast-light: $white !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  "025": ($spacer * .25),
  "03": ($spacer * .3),
  "05": ($spacer * .5),
  "08": ($spacer * .8),
  1: $spacer,
  15: ($spacer * 1.5),
  2: ($spacer * 2),
  23: ($spacer * 2.3),
  3: ($spacer * 3),
) !default;

$position-values: (
  0: 0,
  50: 50%,
  100: 100%
) !default;

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
) !default;


$paragraph-margin-bottom: 1rem !default;

$link-color: $blue !default;
$link-decoration: underline !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
$link-shade-percentage: 20% !default;

$line-height-lg: 1.3333333333 !default;

$border-width: 2px !default;
$border-color: $gray-200 !default;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;

$border-radius: .25rem !default;
$border-radius-lg: .375rem !default;
$border-radius-sm: .2rem !default;

$component-active-color: $white !default;
$component-active-bg: $blue !default;

/* Change something with grids? */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

/* Adding xxl */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1662px
) !default;


/**
 * Typography
 */

$font-family-sans-serif: var(--lf-font-family-sans-serif) !default;
$font-family-serif: var(--lf-font-family-serif) !default;
$font-family-base: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size-xl: 1.25rem !default;
$font-size-lg: 1.125rem !default;
$font-size-md: 1rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;

$line-height-base: 1.45 !default;

/* Expose as CSS custom properties */
:root {
  --font-family-sans-serif: #{$font-family-sans-serif};
  --font-family-serif: #{$font-family-serif};
  --font-family-base: #{$font-family-base};
  --font-family-monospace: #{$font-family-monospace};
  --font-size-xl: #{$font-size-xl};
  --font-size-lg: #{$font-size-lg};
  --font-size-md: #{$font-size-md};
  --font-size-sm: #{$font-size-sm};
  --font-size-xs: #{$font-size-xs};
  --font-line-height: #{$line-height-base};
}

$h1-font-size: 2.5rem !default;
$h2-font-size: 1.8125rem !default;
$h3-font-size: 1.4375rem !default;
$h4-font-size: 1.25rem !default;
$h5-font-size: 1.125rem !default;
$h6-font-size: .75rem !default;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 700 !default;
$font-weight-semibold: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: $navy !default;

$display1-size: 3.75rem !default;
$display2-size: 3.125rem !default;
$display3-size: 2.5rem !default;
$display4-size: 2.25rem !default;

$display1-weight: normal !default;
$display2-weight: normal !default;
$display3-weight: normal !default;
$display4-weight: normal !default;
$display-line-height: 1 !default;

$lead-font-size: 1.375rem !default;
$lead-font-weight: 400 !default;

$text-muted: $gray !default;

$blockquote-small-color: $gray !default;

$hr-border-color: $gray-200 !default;
$hr-border-width: $border-width !default;
$hr-opacity: .18 !default;

$list-inline-padding: 5px !default;

$mark-bg: $orange !default;

/**
 * Components
 * To-do: To be moved to each component SCSS file
 */

$table-cell-padding-y: .75rem !default;
$table-cell-padding: calc(#{$table-cell-padding-y} + 1px) 1.25rem calc(#{$table-cell-padding-y} - 1px) !default;
$table-cell-padding-sm: .5625rem 1.25rem !default;
$table-bg: $white !default;
$table-accent-bg: $offwhite !default;
$table-hover-bg: $mist !default;
$table-active-bg: $cloud !default;
$table-border-color: $body-bg !default;
$table-footer-color: $table-accent-bg !default;
$table-head-bg: $white !default;
$table-head-color: $black !default;
$table-dark-bg: $gray-900 !default;
$table-dark-accent-bg: rgba($white, .05) !default;
$table-dark-hover-bg: rgba($white, .075) !default;
$table-dark-border-color: lighten($gray-900, 7.5%) !default;
$table-dark-color: $body-bg !default;

$btn-font-weight: 700 !default;
$btn-box-shadow: none !default;
$btn-focus-box-shadow: 0 0 0 rgba(0, 0, 0, 10%) !default;
$btn-active-box-shadow: none !default;
$btn-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$btn-primary-color: $white !default;
$btn-primary-bg: $wine !default;
$btn-primary-border: $wine !default;
$btn-primary-bg-hover: #910c19 !default;
$btn-primary-bg-pressed: #7a0b16 !default;
$btn-secondary-color: $white !default;
$btn-secondary-border: $navy !default;
$btn-secondary-bg-hover: $navy !default;
$btn-secondary-border-hover: #00325c !default;
$btn-secondary-bg-pressed: #f2f7fb !default;
$btn-info-color: $color-info !default;
$btn-info-bg: $color-info-light !default;
$btn-info-border: $color-info !default;
$btn-info-border-hover: $color-info !default;
$btn-info-bg-pressed: mix($color-info, $color-info-light, 15%) !default;
$btn-success-color: $color-success !default;
$btn-success-bg: $color-success-light !default;
$btn-success-border: $color-success !default;
$btn-success-border-hover: $color-success !default;
$btn-success-bg-pressed: mix($color-success, $color-success-light, 15%) !default;
$btn-warning-color: $color-warning !default;
$btn-warning-bg: $color-warning-light !default;
$btn-warning-border: $color-warning !default;
$btn-warning-border-hover: $color-warning !default;
$btn-warning-bg-pressed: mix($color-warning, $color-warning-light, 15%) !default;
$btn-danger-color: $color-danger !default;
$btn-danger-bg: $color-danger-light !default;
$btn-danger-border: $color-danger !default;
$btn-danger-border-hover: $color-danger !default;
$btn-danger-bg-pressed: mix($color-danger, $color-danger-light, 15%) !default;
$btn-login-logout-bg: $login-logout-blue !default;
$btn-login-logout-bg-hover: darken($login-logout-blue, 6%) !default;
$btn-login-logout-bg-pressed: darken($login-logout-blue, 11%) !default;

$input-btn-padding-x: 1rem !default;
$input-btn-padding-y: .5rem !default;
$input-btn-line-height: 1.34 !default;
$input-btn-padding-x-sm: .75rem !default;
$input-btn-padding-y-sm: .25rem !default;
$input-btn-line-height-sm: 1.5 !default;
$input-btn-padding-x-lg: 1.25rem !default;
$input-btn-padding-y-lg: .625rem !default;
$input-btn-line-height-lg: 1.2 !default;
$input-btn-focus-width: .2rem !default;
$input-btn-focus-color: rgba($blue, .25) !default;
$input-btn-focus-box-shadow: none !default;

$input-bg: $body-bg !default;
$input-white-bg: $white !default;
$input-white-bg-hover: #fbfbfb !default;
$input-disabled-bg: $smoke !default;
$input-color: $body-color !default;
$input-border-color: $gray-200 !default;
$input-box-shadow: none !default;
$input-focus-border-color: $blue !default;
$input-focus-box-shadow: $input-box-shadow, 0 0 8px rgba(102, 175, 233, 60%) !default;
$input-focus-color: $body-color !default;
$input-placeholder-color: #999 !default;

$input-padding-x: .75rem !default;
$input-padding-y: .563rem !default;
$input-padding-top: .663rem !default;
$input-padding-right: .75rem !default;
$input-padding-bottom: .463rem !default;
$input-padding-left: .75rem !default;
$input-padding: $input-padding-top $input-padding-right $input-padding-bottom $input-padding-left !default;

$input-border-width: $border-width !default;
$input-btn-border-width: $border-width !default;
$input-height-border: $input-border-width * 2 !default;
$input-height: 40px !default;
$input-height-inner-sm: ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2) !default;
$input-height-sm: calc(#{$input-height-inner-sm} + #{$input-height-border}) !default;
$input-height-inner-lg: ($font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2) !default;
$input-height-lg: calc(#{$input-height-inner-lg} + #{$input-height-border}) !default;

$input-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !default;
$form-check-input-margin-y: .25rem !default;
$input-line-height: 1.25 !default;
$input-hover: #ececec !default;
$input-valid-hover: #e5ecf5 !default;

$input-group-addon-bg: $input-bg !default;
$input-group-addon-border-color: $gray-200 !default;

$input-group-addon-focus-border-color: $blue !default;
$input-group-addon-min-width: 2.9rem !default;
$cursor-disabled: not-allowed !default;

$custom-control-gutter: 1.75rem !default;
$custom-control-spacer-x: 1.25rem !default;
$custom-control-spacer-y: .625rem !default;
$custom-control-indicator-size: 1.13rem !default;
$custom-control-indicator-bg: $white !default;
$custom-control-indicator-bg-size: 70% 70% !default;
$custom-control-indicator-box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, 10%) !default;
$custom-control-indicator-disabled-bg: $white !default;
$custom-control-description-disabled-color: #767676 !default;
$custom-control-indicator-checked-color: $blue !default;
$custom-control-indicator-checked-bg: $white !default;
$custom-control-indicator-checked-disabled-bg: none !default;
$custom-control-indicator-focus-box-shadow: 0 0 0 .075rem $white, 0 0 0 .2rem #0074d9 !default;
$custom-control-indicator-active-color: $white !default;
$custom-control-indicator-active-bg: $white !default;

$custom-checkbox-indicator-icon-checked: url('data:image/svg+xml !default;charset=UTF-8,%3Csvg width="13" height="10" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M10.9 0 4.3 6.9 1.4 3.8 0 5.3l4.3 4.6 8-8.4z" fill="%23005AA0" fill-rule="evenodd"/%3E%3C/svg%3E') !default;

$custom-radio-indicator-icon-checked: none !default;

$custom-file-height: $input-height !default;
$custom-file-width: 14rem !default;
$custom-file-focus-box-shadow: 0 0 0 .075rem $white, 0 0 0 .2rem #0074d9 !default;

$custom-file-padding-y: 1rem !default;
$custom-file-padding-x: $input-padding-right !default;
$custom-file-line-height: $input-line-height !default;
$custom-file-color: $input-color !default;
$custom-file-bg: $input-bg !default;
$custom-file-border-width: $border-width !default;
$custom-file-border-color: #ddd !default;
$custom-file-border-radius: $border-radius !default;
$custom-file-box-shadow: inset 0 .2rem .4rem rgba(0, 0, 0, 5%) !default;
$custom-file-button-color: $custom-file-color !default;
$custom-file-button-bg: transparent !default;
$custom-file-text: (
  sv: "Välj fil…",
  en: "Choose file…"
) !default;
$custom-file-text-multiple: (
  sv: "filer",
  en: "files"
) !default;

$distribution-duration: 1000ms !default;


$dropdown-margin-top: 0 !default;
$dropdown-bg: $white !default;
$dropdown-border-color: $blue !default;
$dropdown-border-width: $border-width !default;
$dropdown-divider-bg: $shadow !default;
$dropdown-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 17.5%) !default;
$dropdown-link-color: $gray-900 !default;
$dropdown-link-hover-color: darken($gray-900, 5%) !default;
$dropdown-link-hover-bg: #f5f5f5 !default;
$dropdown-link-disabled-color: $gray-600 !default;
$dropdown-item-padding-y: .25rem !default;
$dropdown-item-padding-x: 1.5rem !default;
$dropdown-header-color: $gray-600 !default;

$nav-item-margin: 2px !default;
$nav-link-padding-y: 1rem !default;
$nav-link-padding-x: 2rem !default;
$nav-link-disabled-color: $gray !default;
$nav-tabs-border-color: transparent !default;
$nav-tabs-border-width: $border-width !default;
$nav-tabs-border-radius: $border-radius !default;
$nav-tabs-link-hover-border-color: $gray-200 !default;
$nav-tabs-link-active-color: $gray-700 !default;
$nav-tabs-link-active-bg: $body-bg !default;
$nav-tabs-link-active-border-color: #ddd !default;
$nav-tabs-grey-bg-color: darken($body-bg, 4%) !default;
$nav-pills-border-radius: $border-radius !default;
$nav-pills-link-active-color: $component-active-color !default;
$nav-pills-link-active-bg: $component-active-bg !default;

$pagination-padding-y: .3rem !default;
$pagination-padding-x: .9rem !default;
$pagination-padding-y-sm: $pagination-padding-y !default;
$pagination-padding-x-sm: $pagination-padding-x !default;
$pagination-padding-y-lg: $pagination-padding-y !default;
$pagination-padding-x-lg: $pagination-padding-x !default;
$pagination-line-height: 1.45 !default;
$pagination-color: $link-color !default;
$pagination-bg: $white !default;
$pagination-border-width: 0 !default;
$pagination-border-color: currentcolor !default;
$pagination-hover-color: $link-hover-color !default;
$pagination-hover-bg: $white !default;
$pagination-hover-border-color: currentcolor !default;
$pagination-active-color: $white !default;
$pagination-active-bg: $blue !default;
$pagination-active-border-color: $white !default;
$pagination-disabled-color: $gray-600 !default;
$pagination-disabled-bg: $white !default;
$pagination-disabled-border-color: currentcolor !default;

$pattern-diagonal-stripes-gray-stripes: $shadow !default;
$pattern-diagonal-stripes-gray-bg: #ececec !default;
$pattern-diagonal-stripes-gray-border: $shadow !default;
$pattern-diagonal-stripes-gray-font-color: $black !default;

$card-spacer-y: 1rem !default;
$card-spacer-x: 1.25rem !default;
$card-border-width: 0 !default;
$card-cap-bg: $white !default;
$card-block-padding: 1rem 1.25rem 1.5rem !default;
$card-footer-padding: 1.25rem 1.25rem 1.5rem !default;
$card-deck-margin: .625rem !default;

$tooltip-padding-y: 3px !default;
$tooltip-padding-x: 8px !default;
$tooltip-margin: 3px !default;
$tooltip-arrow-width: 5px !default;
$tooltip-arrow-height: 5px !default;

$popover-max-width: 300px !default;
$popover-border-width: 0 !default;
$popover-box-shadow: 0 5px 10px rgba(0, 0, 0, 20%) !default;
$popover-title-color: $gray !default;
$popover-header-padding-y: 8px !default;
$popover-header-padding-x: 14px !default;
$popover-body-padding-y: 9px !default;
$popover-body-padding-x: 14px !default;
$popover-arrow-width: 0 !default;
$popover-arrow-height: 5px !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;
$transition-collapse-width:   width .35s ease !default;

// Badges

$badge-color: $white !default;
$badge-default-bg: $orange !default;
$badge-primary-bg: #dcddde !default;
$badge-success-bg: $color-success-light !default;
$badge-info-bg: $color-info-light !default;
$badge-warning-bg: $color-warning-light !default;
$badge-danger-bg: $color-danger-light !default;

$range-slider-bg: $smoke !default;
$range-slider-height: 4px !default;
$range-slider-thumb-size: 1.13rem !default;
$range-slider-thumb-bg: $white !default;

$spinner-animation-curve: cubic-bezier(.53, 0, .49, 1) !default;
$spinner-size: 60px !default;
$spinner-animation-time: 1.9s !default;

$modal-inner-padding: 1.9rem !default;
$modal-dialog-margin: 10px !default;
$modal-dialog-margin-y-sm-up: 30px !default;
$modal-title-line-height: 1.3 !default;
$modal-content-box-shadow-xs: 0 3px 9px rgba(0, 0, 0, 50%) !default;
$modal-content-box-shadow-sm-up: 0 5px 15px rgba(0, 0, 0, 50%) !default;
$modal-backdrop-bg: #000 !default;
$modal-header-border-color: $shadow !default;
$modal-header-border-width: 0 !default;
$modal-header-padding: 1.5rem $modal-inner-padding !default;
$modal-lg: 900px !default;
$modal-md: 523px !default;

$progress-height: .625rem !default;
$progress-font-size: .75rem !default;
$progress-bg: $smoke !default;
$progress-border-radius: $border-radius !default;
$progress-box-shadow: inset 0 .1rem .1rem rgba(0, 0, 0, 10%) !default;
$progress-bar-color: $login-logout-blue !default;
$progress-bar-bg: theme-color("primary") !default;
$progress-bar-animation-timing: 1s linear infinite !default;
$progress-bar-transition: width .6s ease !default;
$progress-bar-bg: $login-logout-blue !default;
$progress-bar-success-bg: $color-success-light !default;
$progress-bar-warning-bg: $color-warning-light !default;
$progress-bar-danger-bg: $color-danger-light !default;
$progress-bar-info-bg: $color-info !default;
$progress-bar-circle-default-size: 50px !default;

$list-group-border-color: #ddd !default;
$list-group-hover-bg: #f5f5f5 !default;
$list-group-disabled-bg: $gray-200 !default;

$breadcrumb-bg: $white !default;
$breadcrumb-divider-color: #6d6e71 !default;
$breadcrumb-active-color: #6d6e71 !default;
$breadcrumb-divider: "" !default;

$code-padding-y: .2rem !default;
$code-padding-x: .4rem !default;
$code-color: $navy !default;
$code-bg: $cloud !default;

$kbd-bg: #333 !default;

/**
 * Our own global helper variables
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

/* Restrain max line width of text */
$legible-width: 36em !default;

/* Not sure, something with links */
$stretched-link-pseudo-element: after !default;
$stretched-link-z-index: 1 !default;

/* Added link version */
$link-color-dark: $navy !default;
$link-hover-color-dark: #00325c !default;

/* Adding new grid gutters */
$grid-gutter: 1.875rem !default;
$grid-gutter-tight: 1.25rem !default;
