/**
 * Avatar
 * User avatar with fallback to initials
 */

.avatar {
  display: block;
  position: relative;
  width: 2em;
  height: 2em;
  border: $avatar-border-width solid currentColor;
  overflow: hidden;
  font-size: 1em;
  line-height: 1;
  color: currentColor;
  text-align: center;
  text-indent: -9999px;
  border-radius: 50%;
}

.avatar::before {
  content: attr(data-initials);
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 0.75em;
  color: currentColor;
  letter-spacing: 0.06em;
  text-indent: 0.06em;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;

  @include font-smoothing;
}

.avatar.has-image {
  background-color: $white;
}

.avatar-inline {
  display: inline-block;
  vertical-align: middle;
}

.avatar-image {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-indent: 0;
}

/**
 * Sizes
 */

.avatar-sm {
  font-size: 0.75rem;
  border-width: $avatar-border-width-light;
}

.avatar-sm::before {
  font-size: 0.8em;
}

.avatar-md {
  font-size: 1rem;
}

.avatar-lg {
  font-size: 2.5rem;
}

/**
 * Themes
 */

/* White */

.avatar-white {
  border-color: $avatar-theme-white;
  background-color: $avatar-theme-white;
}

.avatar-white.avatar-inverted {
  color: $avatar-theme-white;
}

/* Gray */

.avatar-gray {
  border-color: $avatar-theme-gray;
  background-color: $avatar-theme-gray;
  color: darken($avatar-theme-gray, 45%);
}

.avatar-gray.avatar-inverted {
  color: $avatar-theme-gray;
}

/* Black */

.avatar-black {
  border-color: $avatar-theme-black;
  background-color: $avatar-theme-black;
  color: $white;
}

.avatar-black.avatar-inverted {
  color: $avatar-theme-black;
}

/* Blue */

.avatar-blue {
  border-color: $avatar-theme-blue;
  background-color: $avatar-theme-blue;
  color: $white;
}

.avatar-blue.avatar-inverted {
  color: $avatar-theme-blue;
}

/* Red */

.avatar-red {
  border-color: $avatar-theme-red;
  background-color: $avatar-theme-red;
  color: $white;
}

.avatar-red.avatar-inverted {
  color: $avatar-theme-red;
}

.avatar-inverted {
  background-color: transparent;
}
