.lf-header.navbar {
  @extend .container;

  display: flex;
  flex-direction: row;
  background-color: $white;
  border-bottom: 2px solid #d9d9d9;

  .navbar-brand {
    background: none;
  }

  .nav-item,
  .nav-item.active {
    a,
    .nav-link {
      color: #222;
      font-size: 14px;
      font-family: $font-family-base;
      box-shadow: none;

      &:hover,
      &:focus,
      &:hover:focus,
      &:active,
      &:hover:active,
      &:hover:active:focus {
        color: #222 !important;
        font-size: 14px;
        font-family: $font-family-base;
      }
    }
  }

  ul.navbar-nav {
    display: flex;
    justify-content: center;
    flex-basis: 1;

    li {
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
    }
  }

  a.link-adaptive,
  a.link-complex,
  a > .link-complex-target {
    color: #222 !important;
    font-size: 14px;
    font-family: $font-family-base;
    box-shadow: none;
  }
}
