.wave-pattern {
  @include pattern-wave-horizontal();
}

.wave-pattern-sm {
  @include pattern-wave-horizontal();

  background-size: 150px 10px;
}

// As backgrounds
.bg-diagonal-stripes-info {
  @extend .alert-info;
}

.bg-diagonal-stripes-danger {
  @extend .alert-danger;
}

.bg-diagonal-stripes-warning {
  @extend .alert-warning;
}

.bg-diagonal-stripes-success {
  @extend .alert-success;
}

.bg-diagonal-stripes-gray {
  @include pattern-diagonal-stripes($pattern-diagonal-stripes-gray-stripes);

  background-color: $pattern-diagonal-stripes-gray-bg;
  color: $pattern-diagonal-stripes-gray-font-color;
  border: 2px solid $pattern-diagonal-stripes-gray-border;

  a {
    @include alert-link($pattern-diagonal-stripes-gray-font-color);
  }
}
