/**
 * New block formatting context
 */

.layout-nbfc {
  overflow: hidden !important;
}

/**
 * Position on top
 */

.layout-zbump {
  position: relative;
  z-index: 1;
}

/**
 * Display
 */

.layout-block {
  @extend .d-block;
}

.layout-inline-block {
  @extend .d-inline-block;
}

.layout-inline {
  @extend .d-inline;
}

.layout-flex {
  display: flex !important;
}

.layout-column {
  flex-direction: column !important;
}

.layout-row {
  flex-direction: row !important;
}

.layout-grow {
  flex-grow: 1 !important;
}

.layout-shrink {
  flex-shrink: 1 !important;
}

.layout-no-flex {
  flex: 0 0 auto !important;
}

/**
 * Clear
 */

.clear-both {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

/**
 * Size
 */

.layout-full {
  width: 100%;
}

/**
 * Position
 */

.pos-static {
  position: static;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

/**
 * Vertical alignment
 */

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}
