@import "bootstrap/scss/_button-group.scss";

.btn-group .btn {
  padding: $input-padding;
  padding-left: calc(#{$input-padding-left} + 0.5rem);
  padding-right: calc(#{$input-padding-right} + 0.5rem);
  border: 0;
  border-bottom: 2px solid $gray-200;
  margin-bottom: 0;

  @include font-smoothing(auto);

  color: inherit;
  background-color: $body-bg;
  font-family: $font-family-base;
  font-size: $font-size-md;
  font-weight: normal;
  line-height: $input-line-height;
  transition: 100ms 40ms linear;
  transition-property: border, color;

  &:hover,
  &:active {
    background-color: $input-hover;
    border-color: $blue;

    @include font-smoothing(auto);
  }

  + .btn {
    margin-left: 2px;
  }

  &.active {
    //font-weight: bold;
    text-shadow: 1px 0 0 currentColor;
    border-color: $blue;
    background-color: $cloud;
    color: $blue;

    @include font-smoothing;

    &:hover {
      background-color: $input-valid-hover;
    }
  }

  &.disabled {
    background-color: $input-disabled-bg;
    pointer-events: none;

    &:hover {
      background-color: $input-disabled-bg;
      border-color: $input-disabled-bg;
    }
  }
}

.btn-group > .btn input[type="radio"],
.btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.btn-group [class*="btn-"] {
  @include warning("Supports regular 'btn' only");
}

/**
 * Stretches a button group to fill it's container
 */

.btn-group-stretch {
  display: flex;
  flex-direction: row;
}

.btn-group-stretch > .btn {
  flex-grow: 1;
  flex-basis: 0;
  min-height: 40px;
}

/**
 * has-danger state
 */

.btn-group.has-danger,
.btn-group-stretch.has-danger {
  > .btn:not(.disabled) {
    border-color: $red;
  }
}
