
/**
 * Pie chart
 * Currently only supporing a single value
 */

.pie {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: $font-family-sans-serif;
}

.pie svg {
  transform: rotate(-90deg);
  border-radius: 50%;
  background: #e8e8e8;
  color: $red;
  display: block;
}

.pie::after {
  content: "";
  box-sizing: content-box;
  height: 76%;
  width: 76%;
  border: 1px solid $white;
  margin: -1px;
  position: absolute;
  top: 12%;
  left: 12%;
  background: $white;
  border-radius: 50%;
}

.pie-figure {
  stroke: currentColor;
  fill: transparent;
  transform-origin: 50% 50%;
  transition: $pie-chart-transition;
  transition-property: stroke-dashoffset;
}

.pie-line {
  stroke: $white;
  stroke-width: 3px;
}

.pie-line-axis {
  transition: $pie-chart-transition;
  transition-property: transform;
  -ms-transform-origin: left center; /* IE 9 */
  -moz-transform-origin: 50% 50% !important;
  -webkit-transform-origin: center; /* Chrome, Safari, Opera */
}

.pie-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-family: $font-family-sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-indent: 0.1em;
  transform: translate(-50%, -50%);
}
