/* Configure Bootstrap */
$alert-padding-y: 0.875rem;
$alert-padding-x: 1.5rem;
$alert-margin-bottom: 0.5rem;
$alert-border-width: 0;
$alert-dismissible-padding-r: $alert-padding-x * 2;

@import "_alert-bs5.scss";

.alert {
  display: flex;
  cursor: default;

  /* Add support for action button */
  justify-content: space-between;
  align-items: baseline;

  /* Default to "info" */
  @include alert-variant($lf-info, transparent, $lf-info-dark);

  /* Reset, might be needed, who knows */
  font-weight: normal;
  text-align: left;
  font-family: $font-family-base;

  /* This was added for some reason */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.alert a,
.alert a:hover,
.alert a:focus {
  color: currentColor;
}

.alert a:active {
  opacity: 0.6;
}

.alert p {
  margin: 0;
}

.alert-header {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

/* Minor alignment tweak */
.alert-dismissible .btn-close {
  padding: calc($alert-padding-y * 1.3) calc($alert-padding-y + 0.125rem);
}

/* Action button alignment */
.alert .btn {
  margin: -1rem calc(($alert-padding-x - 0.875rem) * -1) -1rem 0.5rem;
  white-space: nowrap;
  flex-shrink: 0;
}

.alert-success {
  @include alert-variant($lf-success, transparent, $lf-success-dark);
}

.alert-warning {
  @include alert-variant($lf-warning, transparent, $lf-warning-dark);
}

.alert-danger {
  @include alert-variant($lf-danger, transparent, $lf-danger-dark);
}
