@import "base/index";

$alert-padding-y: .9375rem;
$alert-padding-x: 1.5rem;
$alert-padding-y-small: 1rem;
$alert-padding-x-small: 1rem;
$alert-margin-bottom: .5rem;
$alert-border-radius: $border-radius !default;
$alert-link-font-weight: $font-weight-bold !default;
$alert-border-width: 2px;
$alert-bg-scale: -80% !default;
$alert-border-scale: -70% !default;
$alert-color-scale: 40% !default;
$alert-dismissible-padding-r: $alert-padding-x * 2;

@import "bootstrap5/scss/_alert.scss";

.alert {
  --alert-padding-x: #{$alert-padding-x-small};
  --alert-padding-y: #{$alert-padding-y-small};
  --alert-dismissible-padding-r: calc(var(--alert-padding-x) * 2);

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 3.2rem;
  padding-top: 0;
  padding-bottom: 0;
  font-family: $font-family-base;
  font-weight: 400;
  text-align: left;
  cursor: default;
  border-width: 0 0 0 $alert-border-width;

  /* Default to "info" */
  @include alert-variant($color-info-light, $color-info, $color-info);
}

@media (min-width: 36rem) {
  .alert {
    --alert-padding-x: #{$alert-padding-x};
    --alert-padding-y: #{$alert-padding-y};
  }
}

.alert a,
.alert a:hover,
.alert a:focus {
  color: currentcolor;
}

.alert a:active {
  opacity: .6;
}

.alert p,
.alert-content {
  flex: 1;
  margin: var(--alert-padding-y) 0;
  line-height: 1.3;

  color: $black;
}

.alert-header,
.alert-heading {
  display: block;
  margin-bottom: .75rem;
  font-family: $font-family-sans-serif;
  font-weight: 700;
}

@media (min-width: 36rem) {
  .alert-header,
  .alert-heading {
    display: inline;
    margin-bottom: 0;
  }
}

/* Minor alignment tweak to close button */
.alert-dismissible .btn-close {
  padding: 1.15rem calc(.9375rem + .125rem);
  color: $black;
}

/* Action button alignment */
.alert .btn {
  flex-basis: 100%;
  flex-shrink: 0;
  align-self: center;
  margin: 0 0 var(--alert-padding-y);
  color: $black;
  white-space: nowrap;
}

@media (min-width: 36rem) {
  .alert .btn {
    flex-basis: auto;
    margin: 0 calc((var(--alert-padding-x) - .875rem) * -1) 0 .5rem;
  }
}

/* Icon alignment */
.alert .icon {
  min-height: 3.2rem;
  margin-right: .5rem;
  margin-left: -.2rem;
}

.alert-success {
  @include alert-variant($color-success-light, $color-success, $color-success);
}

.alert-warning {
  @include alert-variant($color-warning-light, $color-warning, $color-warning);

  .icon {
    color: $black;
  }
}

.alert-danger {
  @include alert-variant($color-danger-light, $color-danger, $color-danger);
}

/**
 * Banner alternative
 * Make sure to wrap the alert content in a container.
 * Use in combination with the `.pos-absolute` if needed.
 */

.alert-banner {
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

/* Remove 'close' padding from root, and apply it on the container below */
.alert-banner.alert-dismissible {
  padding-right: 0;
}

/* Supporting wrapping the alert content in a container */
.alert-banner .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Using border instead of padding to not respect the container padding */
  border-right: var(--alert-dismissible-padding-r) solid transparent;
}

/* Minor alignment tweak in this case as well */
.alert-banner .btn-close {
  top: calc(var(--alert-padding-y) - .9rem);
  right: calc((var(--alert-dismissible-padding-r) + .125rem) * -1);
  color: $black;
}

/* Shadow alternative. Default for banners */

.alert-shadow,
.alert-banner {
  box-shadow:
    0 .2px .2px rgba(0, 0, 0, .018),
    0 .4px .6px rgba(0, 0, 0, .026),
    0 .9px 1.2px rgba(0, 0, 0, .032),
    0 1.8px 2.6px rgba(0, 0, 0, .04),
    0 5px 7px rgba(0, 0, 0, .05);
}
