/* Configure Bootstrap */
$alert-padding-y: .875rem;
$alert-padding-x: 1.5rem;
$alert-margin-bottom: .5rem;
$alert-border-width: 0;
$alert-dismissible-padding-r: $alert-padding-x * 2;

@import "_alert-bs5.scss";

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3.2rem;
  padding-top: 0;
  padding-bottom: 0;
  font-family: $font-family-base;
  font-weight: 400;
  text-align: left;
  cursor: default;

  /* Default to "info" */
  @include alert-variant($color-info, transparent, $color-info-text);
}

.alert a,
.alert a:hover,
.alert a:focus {
  color: currentcolor;
}

.alert a:active {
  opacity: .6;
}

.alert p {
  flex: 1;
  margin: $alert-padding-y 0;
}

.alert-header {
  font-family: $font-family-sans-serif;
  font-weight: 700;
}

/* Minor alignment tweak */
.alert-dismissible .btn-close {
  padding: calc($alert-padding-y * 1.35) calc($alert-padding-y + .125rem);
}

/* Action button alignment */
.alert .btn {
  flex-shrink: 0;
  margin: 0 calc(($alert-padding-x - .875rem) * -1) 0 .5rem;
  white-space: nowrap;
}

/* Icon alignment */
.alert .icon {
  min-height: 3.2rem;
  margin-right: .5rem;
  margin-left: -.2rem;
}

.alert-success {
  @include alert-variant($color-success, transparent, $color-success-text);
}

.alert-warning {
  @include alert-variant($color-warning, transparent, $color-warning-text);
}

.alert-danger {
  @include alert-variant($color-danger, transparent, $color-danger-text);
}

/**
 * Banner alternative
 * Make sure to wrap the alert content in a container.
 * Use in combination with the `.pos-absolute` if needed.
 */

.alert-banner {
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0;
}

/* Remove 'close' padding from root, and apply it on the container below */
.alert-banner.alert-dismissible {
  padding-right: 0;
}

/* Supporting wrapping the alert content in a container */
.alert-banner .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Using border instead of padding to not respect the container padding */
  border-right: $alert-dismissible-padding-r solid transparent;
}

/* Minor alignment tweak in this case as well */
.alert-banner .btn-close {
  top: calc($alert-padding-y - .9rem);
  right: calc(($alert-dismissible-padding-r + .125rem) * -1);
}

/* With shadow */

.alert-shadow {
  box-shadow:
    0 .2px .2px rgba(0, 0, 0, .018),
    0 .4px .6px rgba(0, 0, 0, .026),
    0 .9px 1.2px rgba(0, 0, 0, .032),
    0 1.8px 2.6px rgba(0, 0, 0, .04),
    0 5px 7px rgba(0, 0, 0, .05);
}
