@import "bootstrap/scss/_badge.scss";

.badge {
  font-family: $font-family-sans-serif;
  border-radius: 0;
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

.badge-default {
  background: $badge-default-bg;
  color: $badge-color;
}

.badge-primary {
  background: $badge-primary-bg;
  color: $black;
}

.badge-success {
  background: $badge-success-bg;
}

.badge-info {
  background: $badge-info-bg;
}

.badge-warning {
  background: $badge-warning-bg;
}

.badge-danger {
  background: $badge-danger-bg;
}
