@import "bootstrap/scss/_breadcrumb.scss";

.breadcrumb {
  font-family: $font-family-sans-serif;
  font-size: $font-size-sm;
  cursor: default;
}

.breadcrumb-item {
  padding-bottom: .275rem;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}

// overwright bootstrap styling
.breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.breadcrumb-item::after {
  position: relative;
  bottom: 0;
  display: inline-block;
  width: .667rem;
  height: 1.0625rem;
  padding: 0 .2rem;
  margin: 0 .3rem 0 .6rem;
  vertical-align: middle;
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMS4zNTQgMi42NDZMNi43MDcgOGwtNS4zNTMgNS4zNTQtLjcwOC0uNzA4TDUuMjkzIDggLjY0NiAzLjM1NHoiIGZpbGw9IiM3NDc1NzgiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
}

.breadcrumb-item.active::after {
  content: none;
}

.breadcrumb-transparent {
  padding: 0;
  background: none;
}
