@import "base/index";

$callout-border-width: $border-width * 2;
$callout-figure-size: 27px;

/**
 * "Tips" callout component
 */

.callout {
	@include clearfix();
	position: relative;

	display: block;
	padding: 1.25rem 1rem 1.625rem 1.5rem;
	margin-bottom: 1rem;
	color: $body-color;
	background: $white;
	border: $callout-border-width solid $blue;
}

.callout-figure {
	position: absolute;
	top: 4px;
	left: 4px;
	width: $callout-figure-size;
	height: $callout-figure-size;
	pointer-events: none;
}

.callout > :last-child {
	margin-bottom: 0;
}

.callout-title {
	@extend .h3;

	display: block;
	margin: 0 0 0.5rem;
	font-weight: 700;
	color: $navy;
}

.callout-text {
	max-width: $legible-width;
}

.callout-text:last-child {
	margin-bottom: 0;
}
