@import "bootstrap/scss/_card.scss";

.card-block {
  padding: $card-block-padding;
  background-color: $card-cap-bg;
}

/**
 * 1. Bootstrap issue https://github.com/twbs/bootstrap/issues/22448
 *    Related to card images which stretch in height due to flexbox in IE11
 *    Card decks/groups have the same issue, but we can't apply the same rule as that breaks the flexbox row... so they remain broken for now :/
 */
.card {
  display: block; /* 1 */
  min-height: 4rem;
  margin-bottom: $card-spacer-y;
}

/**
 * Card images
 */

.card-img,
.card-img-top,
.card-img-bottom {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: $card-cap-bg;
}

.card-img-top {
  + .card-block {
    border: solid $navy;
    border-width: $border-width 0 0;
  }
}

.card-img-bottom {
  + .card-block {
    border: solid $navy;
    border-width: 0 0 $border-width;
  }
}

.card-img-overlay {
  width: 100%;
}

/**
 * Card title
 */

.card-title {
  margin-top: 0;
}

/**
 * Card text
 * 1. Make sure text lines never span to wide (readability)
 */

.card-text {
  max-width: $legible-width; /* 1 */
  margin-bottom: $card-spacer-y;
}

/**
 * Header and footer
 */

.card-header {
  @include header-block();
  margin-bottom: 0;

  color: $navy;
}

.card-footer {
  padding: $card-footer-padding;
  border: solid $body-bg;
  border-width: $border-width 0 0;
  box-shadow: none;
}

.card.card-text-float {
  position: relative;
  background-color: transparent;

  .card-block {
    position: relative;
    bottom: 4rem;
    margin: 0 1rem;
    border-top: none;
  }

  .card-footer {
    position: relative;
    bottom: 4rem;
    margin: 0 1rem;
  }
}
