$chart-legend-box-size: 1rem;

.chart-legends {
  list-style-image: none;
  list-style-type: none;
  padding-left: 0;
}

.chart-legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  &-clickable {
    cursor: pointer;
  }
}

.chart-legend-box {
  height: $chart-legend-box-size;
  width: $chart-legend-box-size;
  margin-right: 8px;
}
