$chart-legend-box-size: 1rem;

.chart-legends {
  padding-left: 0;
  list-style-type: none;
  list-style-image: none;
}

.chart-legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.chart-legend-item-clickable {
  cursor: pointer;
}

.chart-legend-box {
  width: $chart-legend-box-size;
  height: $chart-legend-box-size;
  margin-right: 8px;
}
