// scss-docs-start close-variables
$btn-close-width:            .875rem;
$btn-close-height:           $btn-close-width;
$btn-close-padding-x:        .25em;
$btn-close-padding-y:        $btn-close-padding-x;
$btn-close-color:            currentcolor;
$btn-close-bg:               "";
$btn-close-focus-shadow:     none;
$btn-close-opacity:          1;
$btn-close-hover-opacity:    1;
$btn-close-focus-opacity:    1;
$btn-close-disabled-opacity: 1;
$btn-close-white-filter:     invert(1) grayscale(100%) brightness(200%);
// scss-docs-end close-variables

@import "bootstrap5/scss/_close.scss";

/**
 * Replace the Bootstrap svg background approach with elements that
 * can inherit color properly
 */

.btn-close {
  --#{$prefix}btn-close-active-opacity: .6;
  --#{$prefix}btn-close-width: #{$btn-close-width};
  --#{$prefix}btn-close-path-width: .125rem;

  position: relative;
  z-index: 1;
  background: transparent;
  transition: opacity 200ms ease-out;
}

.btn-close::before,
.btn-close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--#{$prefix}btn-close-width);
  height: var(--#{$prefix}btn-close-path-width);
  margin: calc(var(--#{$prefix}btn-close-path-width) / 2 * -1) 0 0 calc(var(--#{$prefix}btn-close-width) / 2 * -1);
  content: "";
  background: currentcolor;
  transform: rotate(45deg);
}

.btn-close::after {
  transform: rotate(135deg);
}

.btn-close:active {
  opacity: var(--#{$prefix}btn-close-active-opacity);
  transition: none;
}
