/* Configure Bootstrap */
$btn-close-width: 0.875rem;
$btn-close-height: $btn-close-width;
$btn-close-padding-x: 0.25em;
$btn-close-padding-y: $btn-close-padding-x;
$btn-close-color: currentColor;
$btn-close-bg: "";
$btn-close-opacity: 1;
$btn-close-hover-opacity: 1;
$btn-close-focus-opacity: 1;

@import "_close-bs5.scss";

.btn-close {
  --#{$variable-prefix}btn-close-active-opacity: 0.6;
  --#{$variable-prefix}btn-close-width: #{$btn-close-width};
  --#{$variable-prefix}btn-close-path-width: 0.125rem;
}

.btn-close:active {
  opacity: var(--#{$variable-prefix}btn-close-active-opacity);
}

/**
 * Replace the Bootstrap svg background approach with elements that can inherit
 * color properly
 */

.btn-close {
  position: relative;
  background: transparent;
}

.btn-close::before,
.btn-close::after {
  content: "";
  width: var(--#{$variable-prefix}btn-close-width);
  height: var(--#{$variable-prefix}btn-close-path-width);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(var(--#{$variable-prefix}btn-close-path-width) / 2 * -1) 0 0 calc(var(--#{$variable-prefix}btn-close-width) / 2 * -1);
  background: currentColor;
  transform: rotate(45deg);
}

.btn-close::after {
  transform: rotate(135deg);
}
