@import "bootstrap/scss/_code.scss";

code {
  padding: .2rem .4rem;
  font-weight: 400;
  background-color: $code-bg;
}

/**
 * Code blocks, why not in BS?
 */

pre code {
  display: block;
  padding: 1.2rem 1.4rem;
  overflow-x: auto;
  color: $code-color;
  background: $code-bg;
}
