$collapse-timing-function: ease;
$collapse-duration: 350ms;

/**
 * Change Bootstraps default collapse transition
 */

.collapsing {
  transition-timing-function: $collapse-timing-function;
  transition-duration: $collapse-duration;
}

/**
 * Collapse chevron icon
 */

.collapse-chevron {
  &::after {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 19px;
    height: 19px;

    padding: 0;
    margin-left: .7rem;
    vertical-align: middle;
    cursor: pointer;
    content: "";
    background-position: center;
    // background-color: currentcolor;
    background-size: 11px;

    @include glyph-chevron-down($blue);
  }
}

[aria-expanded="true"].collapse-chevron,
[aria-expanded="true"] > .collapse-chevron {
  &::after {
    transform: scaleY(-1);
  }
}

/**
 * Collapse toggle. Much like a card header but can expand the card content
 */

.collapse-toggle {
  @include header-block(true);
  position: relative;

  padding-right: 3rem;
  cursor: pointer;

  /* Chevron icon */

  &::after {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    content: "";
    transition: opacity 100ms ease;
    transform: translateY(-50%);
    @include glyph-chevron-down($blue);
  }

  &[aria-expanded="true"]::after {
    transform: translateY(-50%) rotate(180deg);
  }

  &[disabled]::after {
    opacity: .3;
  }

  &[aria-expanded="true"] {
    @include header-block-border($link-color);
  }
}

/**
 * Modifier to remove blue line and add background color
 */

.collapse-simple {
  &[aria-expanded="true"] {
    @include header-block-border($body-bg);

    &:hover {
      @include header-block-border($link-color);
    }
  }
}

/**
 * Loading state for the collapse toggle
 */

.collapse-toggle.loading {
  @include header-block-border($link-color);
}

.collapse-toggle::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + .5rem);
  height: $border-width;
  content: "";
  background-color: $red;
  border-right: .5rem solid $white;
  opacity: 0;
  transform: translateX(-100%);
}

.collapse-toggle:not(.loading)[aria-expanded="true"]::before {
  transition: opacity 250ms 100ms ease, transform 0ms 350ms linear;
}

.collapse-toggle.loading::before {
  opacity: 1;
  transition: transform 15000ms cubic-bezier(.02, .96, .37, .81);
  transform: translateX($border-width * 2);
  transform-origin: left;
}

.collapse-toggle.loading[aria-expanded="true"]::before {
  transition: transform $collapse-duration $collapse-timing-function;
  transform: scaleX(1);
}
