@import "bootstrap/scss/_custom-forms.scss";

/**
 * Redesign the custom checkbox and radio button
 *
 * 1. Fix BS display issue bug
 * 2. Remove Bootstraps focus state
 */

.custom-control {
  display: inline-block; /* 1 */
  padding-left: $custom-control-gutter;
  margin-bottom: 0;
  color: inherit;
  user-select: none;
}

.custom-control-label::before,
.custom-control-input:focus ~ .custom-control-label::before {
  border: 0;
  box-shadow: inset 0 0 0 $border-width $silver;
}

.custom-control-label {
  display: inline;
  margin-bottom: 0;
  font-family: $font-family-base;
  font-weight: 400;
  cursor: pointer;

  @include font-smoothing(auto);

  &::before,
  &::after {
    top: 2px;
    left: 0;
  }
}

/* Focus state */

html body[data-focus-source="key"] .custom-control-input:focus ~ .custom-control-label::before {
  color: $body-color;
  background: $orange !important;
  outline: 4px solid $orange;
}

/* Checked state */

.custom-control-input:checked ~ .custom-control-label::before {
  box-shadow: inset 0 0 0 5px $blue;
}

/* Disabled state */

.custom-control-input[disabled] ~ .custom-control-label::before {
  pointer-events: none;
  box-shadow: inset 0 0 0 2px $gray-200;
}

.custom-control-input:checked[disabled] ~ .custom-control-label::before {
  box-shadow: inset 0 0 0 2px #bfd4e5;
}

/* Hover state */

.custom-control:hover .custom-control-input:not([disabled]):not(:checked) ~ .custom-control-label::before {
  box-shadow: inset 0 0 0 $border-width $blue;
}

.custom-control:hover .custom-control-input:not([disabled]) {
  ~ .custom-switch-label {
    text-decoration: underline;
  }

  ~ .custom-control-label {
    text-decoration: underline;
  }
}

/* Active state. Gotta love selectors like these */

.custom-control .custom-control-input:not(input[type="radio"]):not([disabled]):not(:checked):active ~ .custom-control-label::before {
  box-shadow: inset 0 0 0 3px $blue;
}

.custom-control .custom-control-input:not([disabled]):checked:active ~ .custom-control-label::before {
  box-shadow: inset 0 0 0 2px $blue;
}

/**
 * Radio tweaks
 */
.custom-radio {
  .custom-control-input:checked ~ .custom-control-label,
  .custom-control-input:not([disabled]):checked:active ~ .custom-control-label {
    &::before {
      background-color: $blue;
      box-shadow: inset 0 0 0 5px $white;
    }

    &::after {
      border-radius: 50%;
      box-shadow: inset 0 0 0 2px $blue;
    }
  }

  .custom-control-label::before,
  .custom-control-label::after {
    width: 18px;
    height: 18px;
  }

  .custom-control-label::before,
  .custom-control-input:focus ~ .custom-control-label::before {
    top: 2px;
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::after {
    box-shadow: inset 0 0 0 2px #bfd4e5;
  }

  .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: #bfd4e5;
  }

  .custom-control-label {
    position: static;
  }
}

/**
 * Checkbox tweaks (above defaults to radio button)
 */

.custom-checkbox {
  .custom-control-input:not(:checked) ~ .custom-control-label::after {
    background-size: 10% 10%;
    transition: 200ms ease;
    transition-property: box-shadow, background-size;
  }

  .custom-control-input:checked:not([disabled]) ~ .custom-control-label::before {
    box-shadow: inset 0 0 0 2px $blue;
  }

  .custom-control-input:checked:not([disabled]) ~ .custom-control-label::after {
    background-color: none;
    // Uh. For some reason, the $custom-checkbox-checked-icon variable does not function in IE
    // so we copy-paste the variable string here, which solves it.
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTNweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTMgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+UGFnZSAxPC90aXRsZT4KICAgIDxnIGlkPSJTeW1ib2xzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0ieEF0b21zL0N1c3RvbS1mb3JtL0NoZWNrYm94L0FjdGl2ZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTcuMDAwMDAwLCAtNi4wMDAwMDApIiBmaWxsPSIjMDA1QUEwIj4KICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhZ2UtMSIgcG9pbnRzPSIxNy45MDg5NjE5IDYgMTEuMzI4MTAzNiAxMi45MTkyNjE1IDguNDExMzE2NiA5LjgwMDY3NjkyIDcgMTEuMjcwNTIzMSAxMS4zMTQyMjgzIDE1Ljg4MzAxNTQgMTkuMzA1NDEyMSA3LjQ4MzQ0NjE1Ij48L3BvbHlnb24+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=");
    box-shadow: none;
  }

  .custom-control-input:checked[disabled] ~ .custom-control-label::after {
    background-color: $white;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxM3B4IiBoZWlnaHQ9IjEwcHgiIHZpZXdCb3g9IjAgMCAxMyAxMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5QYWdlIDE8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGcgaWQ9IkN1c3RvbS1mb3JtcyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8ZyBpZD0ieEF0b21zL0N1c3RvbS1mb3JtL0NoZWNrYm94L0NoZWNrZWQtYW5kLWRpc2FibGVkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNy4wMDAwMDAsIC02LjAwMDAwMCkiIGZpbGw9IiNCRkQ0RTUiPiAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJQYWdlLTEiIHBvaW50cz0iMTcuOTA4OTYxOSA2IDExLjMyODEwMzYgMTIuOTE5MjYxNSA4LjQxMTMxNjYgOS44MDA2NzY5MiA3IDExLjI3MDUyMzEgMTEuMzE0MjI4MyAxNS44ODMwMTU0IDE5LjMwNTQxMjEgNy40ODM0NDYxNSI+PC9wb2x5Z29uPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+");
    box-shadow: inset 0 0 0 2px #bfd4e5;
  }

  .custom-control-input:indeterminate ~ .custom-control-label::before {
    background: transparent;
    box-shadow: inset 0 0 0 2px $blue;
  }

  .custom-control-input:indeterminate ~ .custom-control-label::after {
    top: .625rem;
    left: .25rem;
    width: .625rem;
    height: $border-width;
    background: $link_color;
    opacity: 1;
  }

  label + .form-text,
  label + .form-control-feedback {
    margin-top: 0;
  }

  .custom-control-label {
    position: static;

    &::after {
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      background-position: 3px 4px;
      background-size: auto;
    }
  }
}

/**
 * Transition
 * 1. Make sure the checked state has been activated repainted
 */

.custom-control-label::before {
  transition: 200ms ease;
  transition-property: box-shadow, background-size;
}

.custom-control:hover .custom-control-input ~ .custom-control-label::before {
  transition-delay: 4ms; /* 1 */
  transition-duration: 20ms;
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:active ~ .custom-control-label::before {
  transition-duration: 200ms !important;
}

/* -------------------------------------------------------------------------- */

/**
 * Select
 */

select {
  border-radius: 0;
}

select.form-control:not([size]):not([multiple]) {
  height: $input-height;
}

.form-group.has-warning .custom-control,
.form-group.has-danger .custom-control,
.form-group.has-success .custom-control,
.form-group.has-valid .custom-control {
  color: $black;
}

/* -------------------------------------------------------------------------- */

/**
 * Custom file input
 */

.custom-file {

  width: 100%;
  font-family: $font-family-base;
  font-weight: 400;

  @include font-smoothing(auto);

  &:hover {
    .custom-file-label {
      background-color: $input-hover;
    }
  }
}

.custom-file-white {
  .custom-file-label {
    background-color: $input-white-bg;
  }

  &:hover {
    .custom-file-label {
      background-color: $input-white-bg-hover;
    }
  }
}

.custom-file-input {
  &:focus ~ .custom-file-label {
    border-color: $input-focus-border-color;
    box-shadow: none;
  }
}

.custom-file-label {
  z-index: 2;
  max-width: 100%;
  padding: $input-padding-top 2.6rem $input-padding-right $input-padding-left !important;
  font-family: $font-family-base;
  font-weight: 400;
  cursor: pointer;
  border-width: 0 0 $custom-file-border-width;

  &::after {
    top: .625rem;
    right: auto;
    padding: 0;
    font-family: $font-family-base;
    border: 0;
  }
}

.custom-file-option {
  width: calc(100% - 10px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &::after {
    content: "";
  }

  .has-multiple & {
    @each $lang, $text in $custom-file-text-multiple {
      &:lang(#{$lang})::after {
        margin-left: 2px;
        content: $text;
      }
    }
  }
}

.custom-file-input.has-file ~ .custom-file-label {
  &::after {
    content: none;
  }
}

form:not([novalidate]) .custom-file-input.has-file ~ .custom-file-label {
  background-color: $cloud;
  border-color: $blue;

  &:hover {
    background-color: $input-valid-hover;
  }
}

.custom-file-label::before {
  position: absolute;
  top: 50%;
  right: $custom-file-padding-x;
  bottom: auto;
  width: 24px;
  height: 20px;
  padding: 0;
  content: "" !important;

  background-size: 24px 20px;
  border: 0;
  transition: opacity 100ms ease;
  transform: translateY(-50%);

  @include glyph-navigation-accounts($blue);
}

/* Focus state */

/**
 * 1. Nedded for focus state in Firefox
 */

html body[data-focus-source="key"] {
  .custom-file-input:focus + .custom-file-label,
  .custom-file-input.has-focus + .custom-file-label /* 1 */ {
    outline: 4px solid $orange;
  }
}

/**
 * Add a has-valid state
 */

.form-group.has-valid .custom-file-label {
  background-color: $cloud;
  border-color: $blue;
}

/**
 * Add a has-danger state
 */

.form-group.has-danger {
  .custom-file-label {
    border-color: $red;
  }
}

/* -------------------------------------------------------------------------- */

/**
 * Switch
 */

.custom-control.custom-switch {
  padding-left: 3rem;
}

.custom-switch-label {
  margin-bottom: 0;
  font-family: $font-family-base;
  font-weight: 400;
  cursor: pointer;

  @include font-smoothing(auto);

  &::before {
    position: absolute;
    top: 3px;
    left: 0;
    width: 38px;
    height: 16px;
    content: "";
    background: $smoke;
    border-radius: 10px;
    transition: background 150ms ease-in;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    content: "";
    background-color: $white;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px $gray;
    transition: left 150ms ease-in;
    transition-property: box-shadow, left;
  }
}

.custom-switch {
  .custom-control-input:not(:checked) ~ .custom-switch-label::after {
    left: 0;
  }

  .custom-control-input:checked ~ .custom-switch-label::after {
    left: 20px;
    box-shadow: inset 0 0 0 5px $blue;
  }

  .custom-control-input:checked ~ .custom-switch-label::before {
    background: $baby;
    transition: background 150ms ease-in;
  }

  // Disabled
  .custom-control-input:disabled,
  .custom-control-input.disabled {
    ~ .custom-switch-label::after {
      pointer-events: none;
      box-shadow: inset 0 0 0 5px #c0c1c2;
    }

    ~ .custom-switch-label::before {
      background: #f4f4f4;
    }
  }

  .custom-control-input:checked:disabled,
  .custom-control-input:checked.disabled {
    ~ .custom-switch-label::after {
      pointer-events: none;
      box-shadow: inset 0 0 0 5px #bfd4e5;
    }

    ~ .custom-switch-label::before {
      background: #f4f4f4;
    }
  }

  label + .form-text,
  label + .form-control-feedback {
    margin-top: 0;
  }
}
// Custom search

.custom-search {
  padding-right: 40px !important;
  background-color: $input-bg;
  background-image: url('<svg fill="#{$blue}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><polygon id="Fill-1" points="22.0708276 23.4850411 17 18.4142136 18.4142136 17 23.4850411 22.0708276"></polygon><path d="M1.98355483,9.5 C1.98355483,13.6447115 5.35530038,17.0164571 9.49958721,17.0164571 C13.6442987,17.0164571 17.0160443,13.6447115 17.0160443,9.5 C17.0160443,5.35528847 13.6442987,1.98354292 9.49958721,1.98354292 C5.35530038,1.98354292 1.98355483,5.35528847 1.98355483,9.5 L1.98355483,9.5 Z M0,9.5 C0,4.26173095 4.26173095,0 9.49959912,0 C14.7378682,0 18.9995991,4.26173095 18.9995991,9.5 C18.9995991,14.7386699 14.7378682,19 9.49959912,19 C4.26173095,19 0,14.7386699 0,9.5 L0,9.5 Z" id="Fill-2"></path></svg>') !important;
  background-repeat: no-repeat !important;
  background-position-x: right !important;
  background-position-y: 9px !important;
  background-size: 40px 28px !important;

  &:hover {
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: 9px !important;
    background-size: 40px 28px !important;
  }
}

/**
 * Add a feedback state (why not in Bootstrap?!)
 */

// form:not([novalidate]) .custom-file-input:valid ~ .custom-file-control {
//   @each $lang, $text in map-get($custom-file-text, file-selected) {
//     &:lang(#{$lang})::after {
//       content: $text;
//     }
//   }
// }

/**
 * Radio card and checkbox card
 */

.radio-card,
.checkbox-card {
  z-index: 1;
  display: flex;
  padding: 1.25rem 1rem 1em;
  background-color: $white;
  transition: box-shadow ease-out 200ms;

  .custom-radio,
  .custom-checkbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 0;
    margin-right: 0;
    font-weight: 400;
    cursor: pointer;

    > p,
    > ul,
    > ol,
    > div:not(.radio-card-footer) {
      padding-left: 27px;
      font-family: $font-family-base;
    }
  }

  ul {
    padding-left: 27px !important;
  }

  .custom-control-label {
    align-self: baseline;
    padding-left: 27px;
    margin: 0 0 .375rem;
    font-family: $font-family-sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    hyphens: auto;
    line-height: 1.3;
    color: $navy;

    @include font-smoothing();

    &::before,
    &::after {
      top: 3px;
      left: 0;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $white;
    border-bottom: 2px solid $smoke;
    transition: all ease-out 200ms;
    transform: scale(1, 1);
  }

  &:hover {
    &::before {
      border-bottom: 2px solid $navy;
    }

    .custom-control.custom-radio {
      .custom-control-label {
        background-image: none;
      }
    }
  }

  .custom-radio .custom-control-input:active ~ .custom-control-label::before,
  .custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    top: 3px;
  }
}

.checkbox-card .custom-control .icon {
  transition: transform ease-in 200ms; // down
}

.checkbox-card .custom-control:hover .icon {
  transition: transform ease-out 200ms; // upp
  transform: translateY(-2px);
}

.checkbox-card .custom-control:hover .custom-control-label {
  background-image: none !important;
}

.checkbox-card:hover {
  background-color: $table-hover-bg;
}

.checkbox-card:hover .custom-control-input ~ .custom-control-label::before {
  box-shadow: inset 0 0 0 2px $navy;
}

.checkbox-card.active:hover {
  box-shadow: inset 0 0 0 2px $navy;

  &::before {
    background-color: $table-hover-bg;
  }
}

.radio-card:not(:first-child) {
  border-left: 2px solid $body-bg;
}

.radio-card-footer {
  padding-top: .8rem;
  margin-top: auto;
  border-top: 2px solid $body-bg;

  .price-container {
    float: right;
    padding: 0;
    font-family: $font-family-sans-serif;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.3;
    color: $navy;
    cursor: pointer;

    @include font-smoothing();

    .price {
      font-family: $font-family-sans-serif;
      font-size: 1.8125rem;
      font-weight: 700;
      line-height: 1.15;

      color: $navy;

      @include font-smoothing();
    }
  }
}

.radio-card.active,
.checkbox-card.active {
  z-index: 2;
  background-color: $white !important;
  transition: all ease-out 200ms;

  // To make the column grow on .active, we add this pseudo element to manipulate.
  // It is behind the radio card itself, but growing it
  // around the actual component it seems to be a part of it.
  &::before {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    cursor: pointer;
    content: "";
    background-color: $white;
    border: 2px solid $navy;
    transition: all ease-out 200ms;
    transform: scale(1, 1.04);
  }

  &:hover {
    &::before {
      border: 2px solid $navy;
    }
  }
}

/**
 * Radio card small and checkbox card
 */

.radio-card-sm,
.checkbox-card {
  position: relative;
  padding: 0;
  border: 1px solid $body-bg;

  .custom-control-label {
    position: static;
    display: block;
    padding: 1.3rem .5rem 1rem;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
  }

  .custom-control-label::before,
  .custom-control-input:focus ~ .custom-control-label::before,
  .custom-radio .custom-control-input:checked ~ .custom-control-label::after,
  .custom-radio .custom-control-input:not([disabled]):checked:active ~ .custom-control-label::after,
  .custom-radio .custom-control-input:focus ~ .custom-control-label::before,
  .custom-radio .custom-control-input:active ~ .custom-control-label::before,
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after,
  .custom-checkbox .custom-control-input:not([disabled]):checked:active ~ .custom-control-label::after,
  .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before,
  .custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    top: .75rem;
    left: .75rem;
  }

  &::before {
    width: 100%;
    // height: calc(100% + 1px);
    background-color: transparent;
    transform: none;
  }

  &.active {
    &::before {
      border: 0;
      box-shadow: inset 0 0 0 2px $navy;
      transform: none;
    }

    &:hover {
      &::before {
        border: 0;
      }
    }
  }
}

.radio-card-stacked {
  padding: .25rem 1rem 1rem 0;
  border: 0;

  &::before {
    top: 0;
    height: 100%;
  }

  &.active {
    &::before {
      border: 0;
      box-shadow: 0 0 0 2px $navy;
    }

    &:hover {
      &::before {
        border: 0;
      }
    }
  }

  .custom-control {
    font-family: $font-family-base;
  }

  .custom-control-label {
    padding: .75rem 2rem .15rem 2.25rem;
    margin: 0;
    font-size: 1.125rem;
    text-align: left;
  }

  .custom-control-label::before,
  .custom-control-input:focus ~ .custom-control-label::before,
  .custom-radio .custom-control-input:checked ~ .custom-control-label::after,
  .custom-radio .custom-control-input:not([disabled]):checked:active ~ .custom-control-label::after,
  .custom-radio .custom-control-input:focus ~ .custom-control-label::before,
  .custom-radio .custom-control-input:active ~ .custom-control-label::before {
    top: .875rem;
    left: .75rem;
  }
}

.form-group.has-danger .radio-card-sm::before {
  border-color: $red;
}

.custom-multi-select {
  .dropdown-item.custom-control {
    display: flex;

    .custom-control-label::before,
    .custom-control-label::after {
      top: 2px;
    }
  }

  .custom-control-label {
    position: relative;
  }
}
