@import "bootstrap/scss/_dropdown.scss";

// Since we have added the requirement that an .open parent class is to be present for the dropdown-menu to be visible, we need to expose a mixin
// so that other entities may handle the visibility of the dropdown-menu in other ways. Needed for the datepicker for example, because it does not
// add a parent .open class (as not required with unmodified bootstrap).
@mixin dropdown-menu-open() {
  display: block;
  animation-name: dropdown-appear;
  animation-duration: var(--dropdown-menu-open-animation-duration, 200ms);
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes dropdown-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dropdown-menu {
  margin: 0;
  border-width: $dropdown-border-width 0 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 6%), 0 0 1px 1px rgba(0, 0, 0, 5%);
  opacity: 0;
}

.show > .dropdown-menu {
  @include dropdown-menu-open();
}

.dropdown-item:hover {
  background-image: none;
}

.dropdown-header {
  margin-bottom: .25rem;
}

/**
 * Hiding the standard arrow from the dropdown toggle-button
 */

.dropdown-toggle {
  &::after {
    display: none;
  }
}

/**
 * Dropdown and dropup with arrow
 */

.dropdown-arrow.show {
  .dropdown-menu {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/**
 * Below:
 */

.dropdown.dropdown-arrow {
  .dropdown-menu {
    @include drop-arrow(down, middle, middle, $white, #eeeeee);

    margin: 1rem 0;
  }
}

/**
 * Above:
 */

.dropup.dropdown-arrow {
  .dropdown-menu {
    @include drop-arrow(up, middle, middle, $white, #eeeeee);

    margin: 1rem 0;
  }
}

/**
 * Custom select dropdown
**/
.custom-select-dd,
.custom-select {
  height: 40px;
  padding: $input-padding !important;
  padding-right: 40px !important;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $blue;
  }

  &::after {
    @include glyph-chevron-down($blue);

    width: 40px;
    height: 40px;
    content: "";
  }
}

.custom-select-dd {
  @extend .custom-select;

  position: relative;

  /**
   * 1. This shows 10 options (á 44px) plus approx one half of an option
   * 2. In OX-Lion and above the scrollbar is hidden, so we force it to show with some styling.
   */

  + .custom-dropdown {
    max-height: 462px; /* 1 */
    overflow-y: auto;

    &::-webkit-scrollbar /* 2 */ {
      appearance: none;
      width: 7px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 50%);
      border-radius: 4px;
      box-shadow: 0 0 1px rgba(255, 255, 255, 50%);
    }
  }
}

// if we want it above instead
.dropup .custom-select-dd {
  @extend .custom-select;

  // @include glyph-chevron-up($blue);

  width: 100%;
  height: $input-height;
}

.show > .custom-dropdown {
  width: 100%;
}

.custom-select-dd.gray-bg {
  background-color: $white;
}

.show > .custom-select-dd.gray-bg {
  background-color: #fbfbfb;
}

.has-valid .custom-select-dd.gray-bg {
  background-color: $white;
}

.has-valid .custom-select-dd.gray-bg:hover {
  background-color: $white;
}

.show > .custom-select-dd {
  background-color: #f4f4f4;
  border-color: $blue;

  .custom-dropdown {
    pointer-events: auto;
  }

  &::after {
    @include glyph-chevron-down($navy);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 14;
    padding: 18px 20px 20px;

    content: "";
    background-color: $white;
    background-position: center;
    background-size: 17px 18px;
    border-top: solid 2px $blue !important;
    box-shadow: 0 -2px 13px 0 rgba(0, 0, 0, 8%);
    transform: rotate(180deg);
  }
}

.has-valid .custom-select-dd {
  background-color: $cloud;
  border-color: $navy;

  &:hover,
  &:focus {
    background-color: $input-valid-hover;
  }
}

.dropdown .custom-select-dd,
.dropup .custom-select-dd {
  @extend .text-truncate;

  text-align: left;

  &::after {
    border-top: none;
    border-right: none;
    border-left: none;
  }
}

.dropdown-backdrop {
  position: static;
  z-index: 0;
}

/**
  * Bump importance by duplicating selector
  */
.custom-dropdown.custom-dropdown {
  z-index: 1000;
  display: none;
  padding: 0;
  background-color: #fbfbfb;
  border: 0;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 8%);

  li {
    list-style: none;
  }

  .dropdown-item {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    white-space: normal;
    cursor: pointer;
    background-color: #fbfbfb;
    background-image: none;
    border-top: none;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
    border-left: solid 1px #eee;

    &:hover,
    &:focus {
      color: $link_color !important;
      background-color: $white;
    }

    &:focus {
      outline-offset: -4px;
    }
  }

  .dropdown-item-sub {
    padding-left: 20px;
  }

  .dropdown-header {
    padding: 10px;
    margin-bottom: 0;
    background-color: $white;
    border: 1px solid #eee;
  }

  .dropdown-group-header {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f4f4f4;
    border-top: none;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
    border-left: solid 1px #eee;
  }

  .dropdown-divider {
    height: 2px;
    margin: 0;
    margin-top: -1px;
    overflow: hidden;
    background-color: #bababa;

    ~ .dropdown-item {
      background-color: $white;
    }
  }
}

.custom-multi-select {
  .dropdown-item {
    display: inline-block;
    align-items: center;
    padding: 10px 43px;
    margin-left: 0;

    .custom-control-label::before,
    .custom-control-label::after {
      top: -.1rem;
      left: -2.0625rem;
      margin: 0;
    }

    .custom-control {
      display: inline-flex;
    }
  }

  .dropdown-item-sub {
    padding-left: 74px;
  }
}

.dropup {
  .custom-dropdown {
    .dropdown-item:last-child {
      border-bottom: none;
    }
  }
}
