.lf-header.navbar {
  @extend .container;

  display: flex;
  flex-direction: row;
  background-color: $white;
  border-bottom: 2px solid $smoke;

  .navbar-brand {
    background: none;
  }

  .nav-item,
  .nav-item.active {
    a,
    .nav-link {
      font-family: $font-family-base;
      font-size: 14px;
      color: $black;
      box-shadow: none;

      &:hover,
      &:focus,
      &:hover:focus,
      &:active,
      &:hover:active,
      &:hover:active:focus {
        font-family: $font-family-base;
        font-size: 14px;
        color: $black !important;
      }
    }
  }

  ul.navbar-nav {
    display: flex;
    flex-basis: 1;
    justify-content: center;

    li {
      display: flex;
      align-items: center;
      padding: 0 .5rem;
    }
  }

  a.link-adaptive,
  a.link-complex,
  a > .link-complex-target {
    font-family: $font-family-base;
    font-size: 14px;
    color: $black !important;
    box-shadow: none;
  }
}
