@import "bootstrap/scss/_navbar.scss";

/**
 * Defaults to navy blue
 */

.navbar {
  flex-direction: row;
  justify-content: flex-start;
  height: $navbar-height;
  font-family: $font-family-sans-serif;

  user-select: none;
  background: $navy;

  @include font-smoothing();
}

.navbar-dark {
  @include warning("navbar-dark is not needed, simply change the background color (try bg-inverse)");
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  height: $navbar-height;
}

/**
 * Nav brand
 */

.navbar-brand {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: $navbar-height;
  padding: $navbar-action-padding;
  margin: 0;
  color: $body-color;
  background: $white;
  opacity: 1;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
  color: $body-color;
  background: $white;
  opacity: 1;
}

/**
 * Nav items
 */

.navbar .nav-item {
  position: relative;
  float: none;
  height: $navbar-height;
  cursor: default;
}

.navbar .nav-item + .nav-item {
  margin: 0;
}

/**
 * Nav links
 */

.navbar .nav-link {
  display: flex;
  align-items: center;
  height: $navbar-height;
  padding: $navbar-action-padding;

  /* Text truncation */
  overflow: hidden;
  font-size: $font-size-lg;
  color: $white;
  text-align: left;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  background: transparent;

  /* Reset button styles */
  border: 0;
  outline: 0;
  transition: 100ms ease;
  transition-property: background-color, color;
  -webkit-appearence: none;
}

/**
 * Nav icons
 */

.navbar .navbar-icon {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  margin-right: .6rem;
  // opacity: 0.6;
  // transition: opacity 100ms ease;
}

/**
 * States
 */

.navbar .nav-link:hover {
  color: $white;
  background: rgba(255, 255, 255, 12%);
}

.navbar .nav-item.active > .nav-link {
  color: $white;
  background: rgba(255, 255, 255, 9%);
  box-shadow: inset 0 (-$border-width) 0 0 $red;
}

.navbar .nav-link:active {
  color: rgba($white, .6) !important;
  opacity: 1;
  transition: none;
}

.navbar .nav-item.active > .nav-link > .navbar-icon,
.navbar .nav-link:hover > .navbar-icon {
  opacity: 1;
}

/* -------------------------------------------------------------------------- */

/**
 * Stacked version
 */

.navbar-stacked {
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0;
}

.navbar-stacked .navbar-nav,
.navbar-stacked .nav-item,
.navbar-stacked .navbar-brand {
  display: block;
  width: 100%;
  height: auto;
}

.navbar-stacked .nav-link,
.navbar-stacked .navbar-brand {
  height: $navbar-stacked-height;
}

.navbar-stacked .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-stacked .nav-item.active > .nav-link {
  box-shadow: inset (-$border-width - 1) 0 0 0 $red;
}

.navbar-stacked .navbar-icon {
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin-right: 1rem;
}

/**
 * Sub navigation levels
 */

.navbar .nav-item.has-sub .navbar-nav {
  display: none;
  background: rgba(0, 0, 0, 30%);
}

.navbar .nav-item.has-sub.open > .navbar-nav {
  display: block;
}

.navbar .nav-item.has-sub .nav-item + .nav-item {
  border-top: 1px solid rgba(0, 0, 0, 30%);
}

.navbar .nav-item.has-sub .nav-item.has-sub .navbar-nav .nav-link {
  padding-left: 1.8rem;
}

.navbar .nav-item.has-sub .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 65%);
}

.navbar .nav-item.has-sub .navbar-nav .nav-item.active > .nav-link,
.navbar .nav-item.has-sub .navbar-nav .nav-link:hover {
  color: $white;
  background: transparent;
}

/* Sub navigation toggle */

.navbar .navbar-toggle {
  @include reset-button();

  position: absolute;
  top: 0;
  right: 0;
  width: $navbar-height;
  height: $navbar-height;
  cursor: pointer;
  transition: background-color 100ms ease;

  &:hover {
    background: rgba(255, 255, 255, 15%);
  }

  &:active::after {
    opacity: .5;
  }

  &::after {
    position: absolute;
    top: 23px;
    left: 24px;

    width: 13px;
    height: 9px;
    content: "";

    @include glyph-chevron-down($white);
  }
}

.navbar .nav-item.has-sub.open > .navbar-toggle::after {
  transform: rotate(180deg) translateY(2px);
}

.navbar .nav-item.has-sub > .nav-link {
  padding-right: 2.4rem;
}

/**
 * Light version
 */

.navbar-light {
  background: $white;

  @include font-smoothing(auto);
}

.navbar-light .nav-link {
  color: $navbar-light-color !important;
}

.navbar-light .nav-link:hover {
  color: $navbar-light-hover-color !important;
}

.navbar-light .nav-item.active > .nav-link {
  background: $cloud;
}

.navbar-light .nav-item > .nav-link:hover {
  background: $cloud;
}

.navbar-light .nav-item.has-sub .navbar-nav {
  background: rgba(0, 0, 0, 2%);
}

.navbar-light .nav-item.has-sub .nav-item + .nav-item {
  border-top-color: rgba(0, 0, 0, 5%);
}

.navbar-light .nav-link:active {
  color: rgba($navbar-light-color, .6) !important;
}

.navbar-light .navbar-icon {
  opacity: 1;
}

.navbar-light .navbar-toggle {
  &:hover {
    background: rgba(0, 0, 0, 3%);
  }

  &::after {
    @include glyph-chevron-down($link-color);

    width: 13px;
    height: 9px;
  }
}

/**
 * Fixed
 */

.fixed-top {
  padding-right: 0;
  padding-left: 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 10%);
}

/**
 * Small
 */

.navbar-sm,
.navbar-sm .navbar-nav,
.navbar-sm .nav-item,
.navbar-sm .nav-link,
.navbar-sm .navbar-brand {
  height: $navbar-height-sm;
}

.navbar-sm .navbar-brand,
.navbar-sm .nav-link {
  padding: .56rem .75rem;
  font-size: 1rem;
}

.navbar-sm .navbar-icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
}

/* Fixes for stacked version */

.navbar-sm.navbar-stacked,
.navbar-sm.navbar-stacked .navbar-nav,
.navbar-sm.navbar-stacked .nav-item,
.navbar-sm.navbar-stacked .navbar-brand {
  height: auto;
}

.navbar-sm.navbar-stacked .navbar-icon {
  margin-right: .75rem;
}

.navbar-sm.navbar-stacked .nav-item.has-sub .nav-item.has-sub .navbar-nav .nav-link {
  padding-left: 1.4rem;
}

.navbar-stacked .navbar-toggle {
  height: $navbar-stacked-height;
}

.navbar-sm .navbar-toggle {
  top: 0;
  right: 0;
  width: $navbar-height-sm;
  height: $navbar-height-sm;

  &::after {
    top: 18px;
    left: 16px;
  }
}

/**
 * Xtra Small
 */

.navbar-xs,
.navbar-xs .navbar-nav,
.navbar-xs .nav-item,
.navbar-xs .nav-link,
.navbar-xs .navbar-brand {
  height: $navbar-height-xs;
}

.navbar-xs .navbar-brand,
.navbar-xs .nav-link {
  padding: .56rem .75rem;
  font-size: .875rem; // 14px
}

.navbar-xs .navbar-icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
}

/* Fixes for stacked version */

.navbar-xs.navbar-stacked,
.navbar-xs.navbar-stacked .navbar-nav,
.navbar-xs.navbar-stacked .nav-item,
.navbar-xs.navbar-stacked .navbar-brand {
  height: auto;
}

.navbar-xs.navbar-stacked .navbar-icon {
  margin-right: .5rem;
}

.navbar-xs.navbar-stacked .nav-item.has-sub .nav-item.has-sub .navbar-nav .nav-link {
  padding-left: 1.4rem;
}

.navbar-xs .navbar-toggle {
  top: 0;
  right: 0;
  width: $navbar-height-xs;
  height: $navbar-height-xs;

  &::after {
    top: 17px;
    left: 14px;
  }
}

// Disabled
.navbar .nav-link,
.navbar-light .nav-link {
  &.disabled {
    color: $gray !important;
    background: inherit;

    &.active,
    &:active,
    &:hover,
    &:focus,
    &.active:hover,
    &.active:focus,
    &.active:active {
      color: $gray !important;
      background: none !important;
    }
  }
}
