$nav-link-font-size: 1rem;
$nav-link-color: inherit;
$nav-link-transition: none;
$nav-link-hover-color: inherit;
$nav-link-font-weight: normal;

@import "bootstrap5/scss/_nav.scss";

/* To be moved out to general */

:root {
  --background-box-hover: var(--#{$prefix}white);
}

[data-bs-theme="on-white"] {
  --background-box-hover: var(--#{$prefix}cloud);
}

.nav {
  --nav-link-padding-x: 1.5rem;
  --nav-link-padding-y: .75rem;
  --nav-link-font-size: #{$font-size-lg};

  --nav-tabs-border-width: 2px;
  --nav-tabs-border-radius: .25rem;
  --nav-tabs-link-active-color: #{$blue};
  --nav-tabs-link-active-bg: #{$white};
  --nav-tabs-link-active-border-color: transparent;
  --nav-tabs-link-hover-border-color: #{$blue};

  --nav-lines-link-hover-background: var(--background-box-hover);

  font-family: var(--lf-font-family-sans-serif);
  user-select: none;
  border: 0;
}

.nav .nav-link {
  position: relative;
  padding-bottom: calc(var(--nav-link-padding-y) - var(--nav-tabs-border-width));
  margin-bottom: 0;
  color: transparent;
  white-space: nowrap;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: .25rem .25rem 0 0;
  transition: border-color 100ms var(--ease-in);
  @include font-smoothing();

  /* Psudo element in use to maintain same element width with and without bolded text */

  &::after {
    position: absolute;
    bottom: calc(var(--nav-tabs-border-width) * -1);
    left: 50%;
    padding: var(--nav-link-padding-y) var(--nav-link-padding-x);
    color: var(--color-body);
    content: attr(data-text);
    transition: color 100ms var(--ease-in);
    transform: translateX(-50%);
  }

  .icon {
    display: block;
    margin: 0 auto .25rem;
    color: $aluminium;
    transition: color 100ms var(--ease-in);
  }

  &:hover {
    transition-duration: 150ms;

    &::after,
    .icon {
      transition-duration: 150ms;
    }
  }

  &.active {
    transition: none;

    &::after,
    .icon {
      transition: none;
    }
  }
}

.nav .nav-item + .nav-item {
  margin-left: .125rem;
}

/**
 * Classic tab style
 */

.nav-tabs .nav-link {
  background: $shadow;

  &:hover {
    &::after {
      color: $navy;
    }
  }

  &.active {
    color: transparent;

    &::after {
      font-weight: 700;
      color: var(--nav-tabs-link-active-color);
    }
  }
}

/**
 * Line style
 */

.nav-lines .nav-link {
  border-bottom: var(--nav-tabs-border-width) solid $aluminium;
  transition-property: border-color, background;

  &:hover {
    background: var(--nav-lines-link-hover-background);
    border-color: $blue;

    .icon {
      color: $blue;
    }
  }

  &.active {
    color: transparent;
    border-color: $blue;

    &::after {
      font-weight: 700;
      color: var(--nav-tabs-link-active-color);
    }

    .icon {
      color: $blue;
    }
  }
}

/**
 * Subnav style
 */


.nav-sub .nav-item + .nav-item {
  margin-left: 1rem;
}

.nav-sub .nav-link {
  padding: 0;
  border-bottom: var(--nav-tabs-border-width) solid $smoke;
  transition-property: border-color;

  &::after {
    padding: 0;
    color: $gray;
  }

  &:hover {
    border-color: $blue;

    &::after {
      color: var(--color-body);
    }
  }

  &.active {
    color: transparent;
    border-color: $blue;

    &::after {
      color: var(--nav-tabs-link-active-color);
    }
  }
}
