@import "base/index";

$pagination-active-bg: $blue;
$pagination-active-border-color: $white;
$pagination-active-color: $white;
$pagination-bg: $white;
$pagination-border-color: currentcolor;
$pagination-border-radius-lg: 0;
$pagination-border-radius-sm: 0;
$pagination-border-radius: 0;
$pagination-border-width: 0;
$pagination-color: $link-color;
$pagination-disabled-bg: $white;
$pagination-disabled-border-color: currentcolor;
$pagination-disabled-color: $gray-600;
$pagination-focus-bg: $gray-200;
$pagination-focus-box-shadow: $input-btn-focus-box-shadow;
$pagination-focus-color: var(--#{$prefix}link-hover-color);
$pagination-focus-outline: 0;
$pagination-font-size: $font-size-base;
$pagination-hover-bg: $white;
$pagination-hover-border-color: currentcolor;
$pagination-hover-color: $link-hover-color;
$pagination-margin-start: 0;
$pagination-padding-x-lg: $pagination-padding-x;
$pagination-padding-x-sm: $pagination-padding-x;
$pagination-padding-x: .9rem;
$pagination-padding-y-lg: $pagination-padding-y;
$pagination-padding-y-sm: $pagination-padding-y;
$pagination-padding-y: .3rem;
$pagination-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

@import "bootstrap/scss/_pagination.scss";

.pagination {
  font-family: $font-family-sans-serif;
}

.page-link,
.page-link:hover,
.page-link:focus,
.page-link:active {
  margin-left: 2px;
  font-weight: 700;
  text-decoration: none;
  background-color: $pagination-bg;

  @include font-smoothing();
}

.pagination:not(.pagination-flex) .page-item:not(.active) {
  .page-link:hover,
  .page-link:focus {
    color: $pagination-hover-color;
    cursor: pointer;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;

    &::after {
      position: absolute;
      right: 11px;
      bottom: 7px;
      left: 11px;
      height: 2px;
      margin: auto;
      content: "";
      background: $pagination-hover-color;
    }
  }
}

.pagination .page-item.active ~ .page-item {
  .page-link {
    &,
    &:focus {
      font-weight: 700;
      color: $smoke !important;
      pointer-events: none;

      &::after {
        content: none !important;
      }
    }
  }
}

/**
 * When the pagination is not used for navigation but only to show what step the
 * user is in a given flow. Often when it's not allowed to go back.
 */

.pagination-static {
  pointer-events: none;
}

// "Stretchy"

.pagination-flex {
  display: flex;
  align-items: stretch;

  .page-item {
    flex-grow: 1;

    &:last-of-type {
      .page-link {
        width: 100%;
        margin-right: 0;
      }
    }

    &:not(.active) {
      .page-link:hover {
        color: $blue;
        background-color: $white;
      }
    }

    .page-link {
      width: calc(100% - 2px);
      margin-right: 2px;
      margin-left: 0;
      text-align: center;
    }

    a.page-link:hover,
    a.page-link:focus {
      &::after {
        position: absolute;
        right: 11px;
        bottom: 7px;
        left: 11px;
        width: 12px;
        height: 2px;
        margin: auto;
        content: "";
        background: $blue;
      }
    }
  }
}

// stretchy on small devices

.pagination-sm-flex {
  @include media-breakpoint-down(sm) {
    display: flex;
    align-items: stretch;

    .page-item {
      flex-grow: 1;

      &:last-of-type {
        .page-link {
          width: 100%;
          margin-right: 0;
        }
      }

      &:not(.active) {
        .page-link:hover {
          color: $blue;
          background-color: $white;
        }
      }

      .page-link {
        width: calc(100% - 2px);
        margin-right: 2px;
        margin-left: 0;
        text-align: center;
      }

      a.page-link:hover,
      a.page-link:focus {
        &::after {
          position: absolute;
          right: 11px;
          bottom: 7px;
          left: 11px;
          width: 12px;
          height: 2px;
          margin: auto;
          content: "";
          background: $blue;
        }
      }
    }
  }
}
