.popover-tooltip {
  @extend .popover;

  display: block;
  opacity: 0;
  visibility: hidden;
  left: 0;
  transition: 200ms all;
  transition-delay: 0s;
  min-width: 250px !important;

  .popover-title {
    @extend .h6;

    background-color: $cloud;
    color: $black;
    padding: 0.6rem 1.25rem;
    margin-bottom: 0;
    border-bottom: none;
  }

  .card {
    margin-bottom: 0;
  }

  .card-block {
    padding: 0.6rem 1.25rem 1.3rem;
  }

  .card-text {
    margin-bottom: 0.6rem;
  }
}

.popover-tooltip-trigger.open {
  background-color: $cloud;
  transition: 100ms all;
  transition-delay: 0.5s;

  .popover-tooltip {
    visibility: visible;
    transition-delay: 0.8s;
  }
}

.popover-tooltip-trigger {
  position: relative;
  cursor: default;
  border-bottom: 1px dashed #888;
  transition: 100ms all;
  transition-delay: 0.2s;
  padding: 4px 0 2px;

  &:hover,
  &:focus,
  &:hover:focus {
    background-color: $cloud;
    transition: 100ms background-color padding;
    transition-delay: 0.5s;
    border-bottom: 1px dashed transparent;
    padding: 4px 0 2px;

    > .popover-tooltip {
      display: block;
      opacity: 1;
      visibility: visible;
      transition-delay: 0.6s;
      min-width: 250px;
    }
  }
}

// We remove the bottom padding from labels as they'd "push" everything down
label.popover-tooltip-trigger,
.label.popover-tooltip-trigger {
  padding: 4px 0 0;

  &:hover,
  &:focus,
  &:hover:focus {
    padding: 4px 0 0;
  }
}

.popover-tooltip.popover-attach.popover-top {
  bottom: 100%;
}

.popover-tooltip.popover-attach.popover-bottom {
  top: 100%;
}

.popover-tooltip.popover-attach.popover-left {
  right: 100%;
}

.popover-tooltip.popover-attach.popover-right {
  left: 100%;
}

.popover-tooltip.popover-attach.popover-bottom-right {
  right: 0;
  left: auto;
}

.popover-tooltip-trigger.popover-sm-center {
  @include media-breakpoint-down(sm) {
    position: static;
  }
}

.popover-tooltip.popover-attach.popover-sm-center {
  @include media-breakpoint-down(sm) {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
    top: auto;
  }
}

