@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a {
    &:not(.btn) {
      text-decoration: underline;
    }
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    page-break-inside: avoid;
  }

  /**
   * Printing Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  /**
   * Specify a size and min-width to make printing closer across browsers.
   * We don't set margin here because it breaks `size` in Chrome. We also
   * don't use `!important` on `size` as it breaks in Chrome.
   */

  @page {
    size: A4 portrait;
  }

  body {
    min-width: 100% !important;
  }

  .container {
    min-width: 100% !important;
  }

  .badge {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;

    td,
    th {
      background-color: #fff !important;
    }
  }

  .table-bordered {
    th,
    td {
      border: 1px solid #f2f2f2 !important;
    }
  }

  .table-dark {
    color: inherit;

    th,
    td,
    thead th,
    tbody + tbody {
      border-color: #000;
    }
  }

  .table .thead-dark th {
    color: inherit;
    border-color: #000;
  }
}
