.pricebox {
  background: $white;
}

.pricebox-fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 40;
  cursor: pointer;
  background: $white;
  border-top: $navy solid 2px;
  box-shadow: 0 0 1rem 0.25rem $smoke;
}

/**
 * Collapse Chevron
 */

.pricebox-chevron {
  @include glyph-chevron-down($blue);
  width: 2rem;
  height: 2rem;
  background-size: 1.125rem 0.75rem;
  background-position: center center;
}

[aria-expanded="true"] .pricebox-chevron {
  transform: scaleY(-1);
}
