@import "./base/index";

/**
 * Ensure consistent base styles
 */

@import "bootstrap/scss/_reboot.scss";

/**
 * 1. Most waypoint (when-in-view) js libraries requires `body` to be relative.
 * 2. Force scrollbars to prevent page jumping when content height is altered.
 */

html {
  position: relative; /* 1 */
}

body {
  position: relative; /* 1 */
  overflow-y: scroll; /* 2 */
  -ms-overflow-style: scrollbar; /* 2 */
}

/**
 * Remove the border-radius in Chrome 62+ on macOS.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  border-radius: 0;
}

/**
 * 1. Sorry, but `text-decoration` override `text-decoration-thickness`
 * 2. Force scrollbars to prevent page jumping when content height is altered.
 */

* {
  text-decoration-thickness: 1px !important; /* 1 */
  text-underline-offset: .1em;
}

[role="link"] {
  cursor: pointer;
}

/**
 * Love-hate
 */

img {
  max-width: 100%;
}

// Override font-family: sans-serif in normalize 5.0
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
