@import "bootstrap/scss/_dropdown.scss";

.select {
  --dropdown-menu-open-animation-duration: 0ms;

  width: 100%;
  position: relative;
}

.select-label {
  display: block;
  position: relative;
  z-index: 0;

  /**
   * Ignore inside option on touch devices
   * 1. Override global focus style to keep text visible
   */
  @media (pointer: fine), (pointer: none) {
    .select.initialized.inside & {
      position: absolute;
      left: $input-padding-x;
      top: $input-padding-y;
      z-index: 1001; /* 1 */
      pointer-events: none;
      user-select: none;
    }

    .select.initialized.inside.show & {
      z-index: 1004;
    }
  }
}

/*
 * Placeholder for uninitialized elements
 * 1. Match default label bottom margin
 */
@media (pointer: fine), (pointer: none) {
  .select:not(.initialized, .inside) .select-label::after {
    content: "";
    margin-top: 0.3em; /* 1 */
  }
}

.select-toggle,
.select-options,
.select.inside:not(.initialized) .select-label,
.select-label::after {
  @include glyph-chevron-down($blue);

  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x calc($input-padding-y - $input-btn-border-width);
  border-bottom: solid $input-border-color;
  border-width: 0 0 $input-btn-border-width;
  position: relative;
  user-select: none;
  text-align: left;
  color: $input-color;
  border-radius: 0;
  background-color: $input-bg;
  background-position: calc(100% - $input-padding-x) calc($input-height / 2 - 6px + $input-btn-border-width / 2);
  background-size: 18px 12px;
  box-shadow: $input-box-shadow;
  appearance: none;

  .select.disabled & {
    background-color: $input-disabled-bg;
    cursor: not-allowed;
  }

  /* Handle disabled state for noscript multiple selects */
  .select:has(select:disabled) & {
    background-color: $input-disabled-bg;
    cursor: not-allowed;
  }
}

.select-toggle,
.select-options {
  &[aria-expanded="true"] {
    background-color: $input-focus-bg;
    border-bottom-color: $input-focus-border-color;
    color: $input-focus-color;
  }

  &[aria-expanded="true"] {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 5%);
    position: relative;
    z-index: 1003;
  }

  &:disabled {
    background-color: $input-disabled-bg;
    cursor: not-allowed;
  }

  &:hover:not([disabled]) {
    background-color: $input-hover;
    transition: background 0.2s;
  }
}

/* Camouflage toggle button to not interfere with inside label */
.select.inside .select-toggle {
  color: transparent;
}

/* Ignore inside option on noscript touch devices */
@media (pointer: coarse) {
  .select.inside:not(.initialized) .select-label {
    height: auto;
    padding: 0;
    border: 0;
    user-select: auto;
    background: none;
  }
}

.select-status {
  display: block;
  width: calc(100% - 1.7rem);
  height: 1.5rem;
  padding-right: calc($input-padding-x + 0.75rem);
  position: relative;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  top: -1px;
}

/* Multiple select counter */
.select-options[multiple] ~ .select-toggle .select-status:not([data-count=""]) {
  &::after {
    content: attr(data-count);
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $input-bg;
    font-weight: $font-weight-bold;
    font-size: 0.875rem;
    background-color: $link_color;
  }
}

.select-options {
  /* Hide native select once JavaScript has kicked in */
  .select.initialized & {
    display: none;
  }

  /* Manage toggling select when JavaScript is not available */
  @media (pointer: fine), (pointer: none) {
    /* Position on top of placeholder */
    .select:not(.initialized) &:not([multiple]) {
      position: absolute;
      bottom: 0;
    }

    /* Align multiple selects with top of placeholder */
    .select:not(.initialized) &[multiple] {
      height: auto;
      position: absolute;
      bottom: 0;
      z-index: 1;
      transform: translateY(calc(100% - $input-height));
    }

    /* Visually hidden but keyboard accessible */
    .select:not(.initialized) &[multiple]:not(:focus) {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      height: 1px;
      overflow: hidden;
      padding: 0;
      width: 1px;
    }
  }

  &:required:valid,
  &:required:valid ~ .select-toggle {
    background-color: $cloud;
    border-bottom-color: $input-focus-border-color;
  }
}

/* Fallback to native select elements on touch devices */
@media (pointer: coarse) {
  .select-toggle {
    display: none;
  }

  .select-options[multiple] {
    height: auto;
  }

  .select.initialized .select-options {
    display: block;
  }
}

.select-list {
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  z-index: 1002;
  background-color: #fbfbfb;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 8%);

  .select-list {
    position: static;
    box-shadow: none;
    animation: none;
    opacity: 1;
  }
}

.select-legend {
  display: block;
  width: 100%;
  padding: 0.375rem $input-padding-x 0.3125rem;
  border: solid 1px #eee;
  border-top: none;
  margin: 0;
  user-select: none;
  font-size: 0.75rem;
  background-color: #f4f4f4;
  color: $gray;
  text-transform: uppercase;
  line-height: $line-height-base;
  letter-spacing: 0.5px;
}

/*
 * 1. Preserve whitespace in flex context, needed for small text
 */

.select-option {
  display: flex;
  align-items: baseline;
  width: 100%;
  min-height: $input-height;
  padding: $input-padding-y $input-padding-x;
  border: 1px solid #eee;
  border-top: 0;
  position: relative;
  user-select: none;
  font-weight: normal;
  color: #000;
  outline-offset: -4px !important;
  cursor: pointer;
  appearance: none;
  white-space: pre-wrap; /* 1 */
  background-color: #fbfbfb;

  &:hover {
    background-color: #fff;
    color: $link_color;
  }

  &.toggle {
    @include glyph-chevron-down($silver);

    width: 100%;
    height: auto;
    min-height: $input-height;
    padding-right: calc($input-padding-x * 2 + 18px);
    background-position: calc(100% - $input-padding-x + 1px) calc($input-height / 2 - 6px + $input-btn-border-width / 2 + 1px);
    background-size: 18px 12px;

    .text-muted {
      flex: 1;
      text-align: right;
    }

    &[aria-expanded="true"] {
      @include glyph-chevron-up($silver);

      width: 100%;
      height: auto;
      min-height: $input-height;
      background-position: calc(100% - $input-padding-x) calc($input-height / 2 - 6px + $input-btn-border-width / 2);
    }
  }

  .select-list .select-list & {
    padding-left: 2.6875rem;
  }

  .select-list .select-list &:not(.multiple) {
    padding-left: 1.625rem;
  }

  /* Faux checkbox */
  &.multiple {
    &::before {
      content: "";
      flex: 0 0 auto;
      display: inline-block;
      align-self: center;
      margin-right: $input-padding-x;
      width: 1.13rem;
      height: 1.13rem;
      border: $border-width solid $silver;
      background-color: #fff;
      transition: $input-transition;
    }

    &.selected::before,
    &.indeterminate::before {
      border-color: $link_color;
    }

    &::after {
      content: "";
      width: calc(1.13rem - $border-width * 2);
      height: calc(1.13rem - $border-width * 2);
      position: absolute;
      left: 0.875rem;
      top: 50%;
      opacity: 0;
      transform: translateY(-50%);
      transition: opacity ease-in-out 0.15s;
    }

    &.indeterminate::after {
      height: $border-width;
      width: 0.625rem;
      left: 1rem;
      background: $link_color;
      opacity: 1;
    }

    .select-list .select-list &::after {
      left: calc($input-padding-x + 2.0625rem);
    }

    &.selected::after {
      opacity: 1;
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTNweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTMgMTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+UGFnZSAxPC90aXRsZT4KICAgIDxnIGlkPSJTeW1ib2xzIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0ieEF0b21zL0N1c3RvbS1mb3JtL0NoZWNrYm94L0FjdGl2ZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTcuMDAwMDAwLCAtNi4wMDAwMDApIiBmaWxsPSIjMDA1QUEwIj4KICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlBhZ2UtMSIgcG9pbnRzPSIxNy45MDg5NjE5IDYgMTEuMzI4MTAzNiAxMi45MTkyNjE1IDguNDExMzE2NiA5LjgwMDY3NjkyIDcgMTEuMjcwNTIzMSAxMS4zMTQyMjgzIDE1Ljg4MzAxNTQgMTkuMzA1NDEyMSA3LjQ4MzQ0NjE1Ij48L3BvbHlnb24+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &[disabled]::before {
      border-color: #d9d9d9;
    }

    &.selected[disabled]::before {
      border-color: #bfd4e5;
    }

    &[disabled].selected::after {
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxM3B4IiBoZWlnaHQ9IjEwcHgiIHZpZXdCb3g9IjAgMCAxMyAxMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5QYWdlIDE8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGcgaWQ9IkN1c3RvbS1mb3JtcyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+ICAgICAgICA8ZyBpZD0ieEF0b21zL0N1c3RvbS1mb3JtL0NoZWNrYm94L0NoZWNrZWQtYW5kLWRpc2FibGVkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNy4wMDAwMDAsIC02LjAwMDAwMCkiIGZpbGw9IiNCRkQ0RTUiPiAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJQYWdlLTEiIHBvaW50cz0iMTcuOTA4OTYxOSA2IDExLjMyODEwMzYgMTIuOTE5MjYxNSA4LjQxMTMxNjYgOS44MDA2NzY5MiA3IDExLjI3MDUyMzEgMTEuMzE0MjI4MyAxNS44ODMwMTU0IDE5LjMwNTQxMjEgNy40ODM0NDYxNSI+PC9wb2x5Z29uPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+");
    }
  }
}
