@import "ui-slider";

@mixin lf-slider($background-color: $white, $track-color: $smoke) {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  background: linear-gradient(to right, $blue 0%, $blue calc(1% * var(--progress, 0)), #{$track-color} calc(1% * var(--progress, 0)));
  appearance: none;

  // input[type="range"] is one of those fun html-elements that render
  // completely differently in each browser, so we'll need completely separate
  // rules for each browser.
  // Webkit
  // Track
  &::-webkit-slider-runnable-track {
    height: $range-slider-height;
    padding: 0;
    cursor: pointer;
    border-radius: 0;
    outline: 0;
  }

  // Range Handle
  &::-webkit-slider-thumb {
    width: $range-slider-thumb-size;
    height: $range-slider-thumb-size;
    margin-top: -7px;
    cursor: grab;
    background: $range-slider-thumb-bg;
    border-radius: 50%;
    outline: 2px solid $background-color;
    box-shadow: inset 0 0 0 2px $blue;
    transition: 200ms ease-in-out;
    appearance: none;

    &:hover {
      box-shadow: inset 0 0 0 5px $blue;
      transition: 200ms ease-in-out;
    }
  }

  &:active::-webkit-slider-thumb {
    cursor: grabbing;
    box-shadow: inset 0 0 0 5px $blue;
  }

  &[disabled] {
    &::-webkit-slider-thumb {
      box-shadow: inset 0 0 0 5px #bfd4e5;
    }

    &::-moz-range-thumb {
      box-shadow: inset 0 0 0 5px #bfd4e5;
    }

    &::-ms-thumb {
      box-shadow: inset 0 0 0 5px #bfd4e5;
    }
  }
  // Firefox
  // Track
  &::-moz-range-track {
    height: $range-slider-height;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 9px solid $background-color;
    border-radius: 0;
    outline: 0;
  }

  // Range Handle
  &::-moz-range-thumb {
    width: $range-slider-thumb-size;
    height: $range-slider-thumb-size;
    cursor: grab;
    background: $range-slider-thumb-bg;
    border: 0;
    border-radius: 50%;
    outline: 2px solid $background-color;
    box-shadow: inset 0 0 0 2px $blue;
    transition: 200ms ease-in-out;

    &:hover {
      box-shadow: inset 0 0 0 5px $blue;
      transition: 200ms ease-in-out;
    }
  }

  &:active::-moz-range-thumb {
    cursor: grabbing;
    box-shadow: inset 0 0 0 5px $blue;
  }

  &::-moz-focus-inner,
  &::-moz-focus-outer {
    border: 0;
  }

  // IE (10+)
  // Track
  &::-ms-track {
    width: 100%;
    height: 4px;
    color: transparent;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 10px 0;
  }

  // Range Handle
  &::-ms-thumb {
    width: $range-slider-thumb-size;
    height: $range-slider-thumb-size;
    cursor: grab;
    background: $range-slider-thumb-bg;
    border-radius: 50%;
    outline: 0;
    box-shadow: inset 0 0 0 2px $blue;
    transition: 200ms ease-in-out;

    &:hover {
      box-shadow: inset 0 0 0 5px $blue;
      transition: 200ms ease-in-out;
    }
  }

  &:active::-ms-thumb {
    cursor: grabbing;
    box-shadow: inset 0 0 0 5px $blue;
  }

  &::-ms-fill-lower {
    background: $blue;
  }

  &::-ms-fill-upper {
    background: $track-color;
  }
  // fix for edge background size bug
  @supports (-ms-ime-align: auto) {
    margin-top: 0;
    background-size: 0 !important;

    &::-ms-thumb {
      margin-top: 2px;
    }
  }
}

// We add a custom, proper keyboard focus appearance.
html body[data-focus-source="key"] input[class*="lf-slider"]:focus {
  &::-webkit-slider-thumb {
    outline: 0;
    box-shadow: inset 0 0 0 5px $blue, 0 0 0 5px $orange;
  }

  &::-moz-range-thumb {
    outline: 0;
    box-shadow: inset 0 0 0 5px $blue, 0 0 0 5px $orange;
  }

  &::-ms-thumb {
    outline: 0;
    box-shadow: inset 0 0 0 5px $blue, 0 0 0 5px $orange;
  }
}

.lf-slider {
  @include lf-slider($white, $smoke);
}

.lf-slider-gray {
  @include lf-slider($body-bg, $smoke);
}

.slider-wrapper {
  position: relative;
  padding: 0 60px;
}

.lf-slider,
.lf-slider-gray {
  position: relative;
}

// Labels

.slider-label-left {
  left: 0;
  text-align: right;

  &.distribution-label {
    top: auto !important;
    bottom: 30px;
    width: 8px;
    padding: 1em 0 .8rem;
    text-align: left;
    transform: none;

    &::before {
      right: 100%;
    }

    @supports (-ms-ime-align: auto) {
      bottom: 40px;
    }
  }
}

.slider-label-right {
  right: 0;
  text-align: left;
  white-space: nowrap;

  &.distribution-label {
    top: auto !important;
    bottom: 30px;
    width: 8px;
    text-align: center;
    text-align: right;
    transform: none;

    &::before {
      left: 100%;
    }

    @supports (-ms-ime-align: auto) {
      bottom: 40px;
    }
  }
}

.slider-label-left,
.slider-label-right {
  position: absolute;
  top: 5px;
  width: 50px;
  font-family: $font-family-sans-serif;
  font-weight: 700;
  white-space: nowrap;
}
