.tag {
  --#{$variable-prefix}tag-bg: #{$tint};
  --#{$variable-prefix}tag-color: #{$gray};
  --#{$variable-prefix}tag-font-size: #{$font-size-sm};

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  height: 2rem;
  padding: 0 1rem;
  overflow: hidden;
  font-size: var(--#{$variable-prefix}tag-font-size);
  color: var(--#{$variable-prefix}tag-color);
  white-space: nowrap;
  cursor: default;
  background: var(--#{$variable-prefix}tag-bg);
  border-radius: 10rem;
  @include font-smoothing();
}

.tag .btn-close {
  margin-right: -.25rem;
  margin-left: .5rem;
}

.tag-lg {
  --#{$variable-prefix}tag-font-size: #{$font-size-md};
  height: 2.5rem;
}

.tag-info {
  --#{$variable-prefix}tag-bg: #{$color-info};
  --#{$variable-prefix}tag-color: #{$color-info-text};
}

.tag-success {
  --#{$variable-prefix}tag-bg: #{$color-success};
  --#{$variable-prefix}tag-color: #{$color-success-text};
}

.tag-warning {
  --#{$variable-prefix}tag-bg: #{$color-warning};
  --#{$variable-prefix}tag-color: #{$color-warning-text};
}

.tag-danger {
  --#{$variable-prefix}tag-bg: #{$color-danger};
  --#{$variable-prefix}tag-color: #{$color-danger-text};
}
