.tag {
  --tag-bg: #{$tint};
  --tag-color: #{$black};
  --tag-font-size: #{$font-size-sm};

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  height: 2rem;
  padding: 0 1rem;
  overflow: hidden;
  font-size: var(--tag-font-size);
  color: var(--tag-color);
  white-space: nowrap;
  cursor: default;
  background: var(--tag-bg);
  border-radius: 10rem;
  @include font-smoothing();
}

.tag .btn-close {
  margin-right: -.25rem;
  margin-left: .5rem;
}

.tag-lg {
  --tag-font-size: #{$font-size-md};
  height: 2.5rem;
}

.tag-info {
  --tag-bg: #{$color-info-light};
}

.tag-success {
  --tag-bg: #{$color-success-light};
}

.tag-warning {
  --tag-bg: #{$color-warning-light};
}

.tag-danger {
  --tag-bg: #{$color-danger-light};
}
