$timeline-icon-border-size: 2px;
$timeline-icon-size: 24px;
$timeline-icon-size-large: 32px;
$timeline-icon-background: $blue;
$timeline-padding-left: 2.875rem;
$timeline-padding-left-large: 5.3rem;
$timeline-header-padding: 0.35rem 1.25rem 0 $timeline-padding-left;
$timeline-header-padding-large: 0.6rem 1.25rem 0.5rem $timeline-padding-left-large;
$timeline-icon-x: 12px;
$timeline-icon-y: 18px;
$timeline-icon-x-large: 22px;
$timeline-icon-y-large: 27px;

.timeline {
  position: relative;
}

.timeline-list {
  @include reset-list;

  background-color: $body-bg; // need to have this to be able to get the wave diveder to work with the blue line
  margin-bottom: 0;

  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(100% - (#{$timeline-icon-size} + #{$timeline-icon-size} * 2));
    background-color: $timeline-icon-background;
    top: calc(#{$timeline-icon-size} + #{$timeline-icon-size} / 2);
    left: 23px;
    z-index: 2;

    @include media-breakpoint-up(md) {
      top: calc(#{$timeline-icon-size-large} + #{$timeline-icon-size-large} / 2);
      left: 42px;
      height: calc(100% - (#{$timeline-icon-size-large} + #{$timeline-icon-size-large} + 10px));
    }
  }

  .timeline-item:first-child {
    margin-top: 0;
  }
}

.timeline-item {
  position: relative;
  margin: 4px 0;
}

.timeline-spacing {
  position: absolute;
  top: $timeline-icon-y;
  left: $timeline-icon-x;
  z-index: 2;
  padding: 2px 0;
  background-color: $white;

  &.is-ongoing {
    left: 9px;
    top: 15px;
    padding: 0;
  }

  @include media-breakpoint-up(md) {
    top: $timeline-icon-x-large;
    left: $timeline-icon-y-large;

    &.is-ongoing {
      top: 20px;
      left: 22px;
    }
  }
}

.timeline-icon {
  width: $timeline-icon-size;
  height: $timeline-icon-size;
  border: $timeline-icon-border-size solid $timeline-icon-background;
  background-color: $white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up(md) {
    width: $timeline-icon-size-large;
    height: $timeline-icon-size-large;
  }

  &.is-done {
    background-color: $blue;
    color: $white;
  }

  .is-ongoing & {
    color: $blue;
    width: 30px;
    height: 30px;

    @include media-breakpoint-up(md) {
      width: 2.625rem;
      height: 2.625rem;
    }
  }
}

.timeline-container {
  background-color: $white;
  transition: background-color 40ms linear, margin 300ms linear;

  &.is-open {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 16px 0;

    &::after {
      content: '';
      width: 100%;
    }
  }
}

.timeline-header {
  padding: $timeline-header-padding;
  border: 0;
  background: transparent;
  outline: none;
  -webkit-appearence: none;
  width: 100%;
  text-align: left;
  min-height: 4rem;

  small {
    font-size: 0.875rem;
    display: block;

    @include media-breakpoint-up(md) {
      margin-top: -5px;
    }
  }

  @include media-breakpoint-up(md) {
    min-height: 5rem;
    padding: $timeline-header-padding-large;

    &:hover {
      background-color: #f9fbfd;

      .timeline-spacing {
        background-color: #f9fbfd;
      }
    }
  }
}

.timeline-heading {
  margin: 0 0 6px;
  color: $gray;

  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
    line-height: 0.9;
  }
}

.timeline-content {
  padding: 0.8rem 0;
  margin-left: $timeline-padding-left;
  margin-right: 0.8rem;
  border-top: 2px solid $body-bg;

  @include media-breakpoint-up(md) {
    margin-left: $timeline-padding-left-large;
    margin-right: 4.5rem;
    padding: 1.3rem 0;
  }
}

