/**
 * Load in out custom variables and assets
 */

@import "./base/functions";
@import "./base/variables";
@import "./base/mixins";


/**
 * Have Bootstrap fill in all the blanks
 */

@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_variables.scss";

$link-decoration: none;

/**
 * 1. Most waypoint (when-in-view) js libraries requires `body` to be relative.
 * 2. Force scrollbars to prevent page jumping when content height is altered.
 */

html {
  position: relative; /* 1 */
}

body {
  position: relative; /* 1 */
  overflow-y: scroll; /* 2 */
  -ms-overflow-style: scrollbar; /* 2 */
}

/**
 * Remove the border-radius in Chrome 62+ on macOS.
 **/

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  border-radius: 0;
}

/**
 * Link styles
 *
 * Inspired from:
 * medium.com/designing-medium/crafting-link-underlines-on-medium-7c03a9274f9
 */

a {
  @include link;
}

[role="link"] {
  cursor: pointer;
}

/**
 * Love-hate
 */

img {
  max-width: 100%;
}

// Override font-family: sans-serif in normalize 5.0
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
/**
 * Have Bootstrap fill in all the blanks
 */

@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_variables.scss";


/**
 * Ensure consistent base styles
 */

@import "bootstrap/scss/_reboot.scss";



a {
  @include link;
}



// Override font-family: sans-serif in normalize 5.0
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}


// Reset and dependencies
@import "print";

// Core CSS
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";

// Components
@import "alert";
@import "animations";
@import "transitions";
@import "avatar";
@import "breadcrumb";
@import "button-group";
@import "card";
@import "close";
@import "custom-forms";
@import "checkmark";
@import "distribution-bar";
@import "dropdown";
@import "icon";
@import "input-group";
@import "media";
@import "nav";
@import "navbar";
@import "pagination";
@import "patterns";
@import "pie-chart";
@import "price-box";
@import "progress";
@import "shortcut";
@import "spinner";
@import "slider";
@import "badge";
@import "value-box";
@import "footer";
@import "header";
@import "timeline";

// Components w/ JavaScript
@import "callout";
@import "collapse";
@import "focus";
@import "modal";
@import "popover";
@import "popover-tooltip";
@import "datepicker";
@import "upload";
// Utility classes

// Utility classes
@import "utilities";


