// Core variables, mixins, functions, fonts and helpers.

@import "./base/functions";
@import "./base/variables";
@import "./base/mixins";

/**
 * Have Bootstrap fill in all the blanks
 */

@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_variables.scss";


/**
 * Ensure consistent base styles
 */

@import "bootstrap/scss/_reboot.scss";



a {
  @include link;
}

$link-decoration: none;

/**
 * 1. Most waypoint (when-in-view) js libraries requires `body` to be relative.
 * 2. Force scrollbars to prevent page jumping when content height is altered.
 */

html {
  position: relative; /* 1 */
}

body {
  position: relative; /* 1 */
  overflow-y: scroll; /* 2 */
  -ms-overflow-style: scrollbar; /* 2 */
}

/**
 * Remove the border-radius in Chrome 62+ on macOS.
 **/

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  border-radius: 0;
}

/**
 * Link styles
 *
 * Inspired from:
 * medium.com/designing-medium/crafting-link-underlines-on-medium-7c03a9274f9
 */

a {
  @include link;
}

[role="link"] {
  cursor: pointer;
}

/**
 * Love-hate
 */

img {
  max-width: 100%;
}

// Override font-family: sans-serif in normalize 5.0
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
/**
 * Have Bootstrap fill in all the blanks
 */

@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_variables.scss";


/**
 * Ensure consistent base styles
 */

@import "bootstrap/scss/_reboot.scss";



a {
  @include link;
}



// Override font-family: sans-serif in normalize 5.0
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

body :focus,
body .focus {
  outline: none !important;
}

body[data-focus-source="key"] :focus,
body[data-focus-source="key"] .focus {
  outline: 4px solid $orange !important;
  outline-offset: 0;
  z-index: 10;
}

body[data-focus-source="key"] [tabindex="-1"]:focus,
body[data-focus-source="key"] input:focus,
body[data-focus-source="key"] select:focus,
body[data-focus-source="key"] textarea:focus {
  outline: none !important;
}
body[data-focus-source="key"] .custom-control-input:focus ~ .custom-control-label::before {
  background: $orange !important;
  outline: 4px solid $orange;
  color: $body-color;
}
body[data-focus-source="key"] input[class*="lf-slider"]:focus {
  &::-webkit-slider-thumb {
    box-shadow: inset 0 0 0 5px $blue, 0 0 0 5px $orange;
    outline: none;
  }

  &::-moz-range-thumb {
    box-shadow: inset 0 0 0 5px $blue, 0 0 0 5px $orange;
    outline: none;
  }

  &::-ms-thumb {
    box-shadow: inset 0 0 0 5px $blue, 0 0 0 5px $orange;
    outline: none;
  }
}
body[data-focus-source="key"] .upload-input:focus + .upload-label,
body[data-focus-source="key"] .upload-input.has-focus + .upload-label {  // Firefox completely ignores the input[type="file"]:focus so we have to fix the focus state with js
  outline: 4px solid $orange;
  color: #00325c;
  background-color: transparent;
  border-color: #00325c;
}

// Override font-family: sans-serif in normalize 5.0
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}


// Reset and dependencies
@import "print";

// Core CSS
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";

// Components
@import "alert";
@import "animations";
@import "transitions";
@import "avatar";
@import "breadcrumb";
@import "button-group";
@import "card";
@import "close";
@import "custom-forms";
@import "checkmark";
@import "distribution-bar";
@import "dropdown";
@import "icon";
@import "input-group";
@import "media";
@import "nav";
@import "navbar";
@import "pagination";
@import "patterns";
@import "pie-chart";
@import "price-box";
@import "progress";
@import "shortcut";
@import "spinner";
@import "slider";
@import "badge";
@import "value-box";
@import "footer";
@import "header";
@import "timeline";

// Components w/ JavaScript
@import "callout";
@import "collapse";
@import "focus";
@import "modal";
@import "popover";
@import "popover-tooltip";
@import "datepicker";
@import "upload";
// Utility classes


@import "./utilities/background";
@import "./utilities/border";
@import "./utilities/cursor";
@import "./utilities/flex";
@import "./utilities/visibility";
@import "./utilities/layout";
@import "./utilities/legend";
@import "./utilities/link";
@import "./utilities/position";
@import "./utilities/reset";
@import "./utilities/selection";
@import "./utilities/spacing";
@import "./utilities/text";

/**
 * Bootstrap utilities
 */

@import "bootstrap/scss/_utilities.scss";

