/* To-do: kill this file */

@import "index";

/**
 * 1. Most waypoint (when-in-view) js libraries requires `body` to be relative.
 * 2. Force scrollbars to prevent page jumping when content height is altered.
 */

html {
  position: relative; /* 1 */
}

body {
  position: relative; /* 1 */
  overflow-y: scroll; /* 2 */
  -ms-overflow-style: scrollbar; /* 2 */
}

[role="link"] {
  cursor: pointer;
}

img {
  max-width: 100%;
}

body :focus,
body .focus {
  outline: 0 !important;
}

// Override font-family: sans-serif in normalize 5.0
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

body[data-focus-source="key"] :focus,
body[data-focus-source="key"] .focus {
  z-index: 10;
  outline: 4px solid $orange !important;
  outline-offset: 0;
}

body[data-focus-source="key"] [tabindex="-1"]:focus,
body[data-focus-source="key"] input:focus,
body[data-focus-source="key"] select:focus,
body[data-focus-source="key"] textarea:focus {
  outline: 0 !important;
}

body[data-focus-source="key"] .custom-control-input:focus ~ .custom-control-label::before {
  color: $body-color;
  background: $orange !important;
  outline: 4px solid $orange;
}

body[data-focus-source="key"] input[class*="lf-slider"]:focus {
  &::-webkit-slider-thumb {
    outline: 0;
    box-shadow: inset 0 0 0 5px $blue, 0 0 0 5px $orange;
  }

  &::-moz-range-thumb {
    outline: 0;
    box-shadow: inset 0 0 0 5px $blue, 0 0 0 5px $orange;
  }

  &::-ms-thumb {
    outline: 0;
    box-shadow: inset 0 0 0 5px $blue, 0 0 0 5px $orange;
  }
}

body[data-focus-source="key"] .upload-input:focus + .upload-label,
body[data-focus-source="key"] .upload-input.has-focus + .upload-label {  // Firefox completely ignores the input[type="file"]:focus so we have to fix the focus state with js
  color: #00325c;
  background-color: transparent;
  border-color: #00325c;
  outline: 4px solid $orange;
}
