/**
 * Show a large and important value
 *
 * Can have a title and a collapsable info text
 */

.value-box {
  padding: 1.1rem 1.3rem;
  border-bottom: $border-width solid $blue;
  background: darken($white, 3%);
  color: $blue;
  cursor: default;
  font-family: $font-family-sans-serif;
}

.value-box-heading {
  @include reset-button();
  @include font-smoothing();

  display: block;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: $blue;
  font-family: inherit;
}

.value-box-heading[aria-expanded="true"],
.value-box-heading.collapsed {
  cursor: pointer;

  .value-box-toggle {
    transform: scaleY(-1) roate(0deg);
  }
}

.value-box-heading[aria-expanded="true"] {
  .value-box-toggle {
    transform: rotate(180deg);
  }
}

.value-box-heading[aria-expanded]:active {
  opacity: 0.7;
}

/**
 * Info icon/toggle
 */

.value-box-toggle {
  @include glyph-chevron-down($blue);

  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  margin-left: 10px;
  position: relative;
  top: -1px;
  cursor: pointer;
  // background-color: currentColor;
  // border-radius: 50%;
  background-size: 16px;
  background-position: center;
  // box-shadow: inset $blue 0 0 0 2px;
}

/**
 * Primary text value
 */

.value-box-text {
  display: block;
  height: 4rem;
  margin: 0.4rem 0 0.6rem;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  color: $blue;

  /* Prevent text clipping in safari */
  padding-bottom: 2px;
}

/**
 * Collapsed content
 */

.value-box-collapse {
  text-align: center;
}

.value-box-body {
  font-family: $font-family-base;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0.8rem 0 0.3rem;
  font-size: $font-size-sm;
  max-width: $legible-width;
}
