/*
 * Positioning, floats, clears
 */

// TODO: Import position from bootstrap here when we move to Alpha-6

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}
