/* =============================================
 ====== Stylize the selection color and bg =====
 =============================================== */

::-moz-selection {
  background: $baby;
  color: $navy;
}

::selection {
  background: $baby;
  color: $navy;
}
