@import "bootstrap/scss/_grid.scss";

/**
 * With tighter gutters
 */

.row-tight {
  margin-left: ($grid-gutter-tight / -2);
  margin-right: ($grid-gutter-tight / -2);
}

.row-tight [class*="col-"] {
  padding-left: ($grid-gutter-tight / 2);
  padding-right: ($grid-gutter-tight / 2);
}

/**
 * Without gutter
 */

.row-no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row-no-gutter [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

/**
 * Make column content will up the column height
 */

.col-fill {
  display: flex;
  flex-direction: column;
}
